<link rel="import" href="../../polymer/polymer-element.html">
<link rel="import" href="../../abas-styles/abas-styles.html">
<link rel="import" href="../../paper-input/paper-input.html">
<link rel="import" href="../../paper-dropdown-menu/paper-dropdown-menu.html">
<link rel="import" href="../lib/api/abas-production-widgets-api.html">
<link rel="import" href="../lib/abas-production-widgets-style/abas-production-widgets-style.html">
<link rel="import" href="../../abas-config/abas-config-meta.html">
<link rel="import" href="../../abas-widget-framework/abas-widget-framework.html">
<link rel="import" href="../../abas-widget-behavior/abas-widget-behavior.html">

<dom-module id="abas-production-indicator-rs-widget-settings">
    <template>
        <abas-config-meta data="{{_configuration}}"></abas-config-meta>
        <style include="abas-production-widgets-style">
            :host {
                display: block;
                background: var(--abas-black-800);
            }
        </style>
        <div slot="general">

            <h3>[[localize('settings.title.general')]]</h3>
            <div class="widgetTitleInput">
                <ui-text-field label="[[localize('settings.title.text')]]" text="{{widgetTitle}}"></ui-text-field>
            </div>
            <ui-companyselector selected-company="{{selectedCompany}}"></ui-companyselector>
            <polling-input-with-elements polling="{{polling}}"></polling-input-with-elements>

            <h3>[[localize('settings.title.indicator')]]</h3>

            <div id="divThresholdInput" class="thresholdInputs">
                <ui-text-field input-type="Number" label="[[localize('settings.threshold.label')]]" text="{{threshold}}"></ui-text-field>
            </div>

            <div id="divDispatcherInput" class="flex-container">
                <ui-auto-complete class="flex-item" label="[[localize('settings.dispatcher.label')]]" items="[[_employees]]"
                    selected-item="{{dispatcher}}"></ui-auto-complete>
                <abas-function-button id="resetDispatcher" hidden="[[!_showDeleteButtonDispatcher]]" icon="times" on-tap="_resetDispatcher"></abas-function-button>
            </div>

            <h3>[[localize('settings.title.period')]]</h3>
            <div id="divDateInputsErp" class="dateInputs">
                <ui-text-field class="flex-date" style="margin-right: 8px;" input-type="Number" label="[[localize('settings.startdateerp.label')]]" text="{{startDateErp}}"></ui-text-field>
                <ui-text-field class="flex-date" input-type="" label="[[localize('settings.enddateerp.label')]]" text="{{endDateErp}}"></ui-text-field>
            </div>

            <div id="divDateInputs" class="dateInputs">
                <ui-text-field class="flex-date" style="margin-right: 8px;" input-type="Number" label="[[localize('settings.startdate.label')]]" text="{{startDate}}"></ui-text-field>
                <ui-text-field class="flex-date" input-type="" label="[[localize('settings.enddate.label')]]" text="{{endDate}}"></ui-text-field>
            </div>

            <h3>[[localize('settings.title.messagebus')]]</h3>
            <div class="messageBusInput" >
                <ui-text-field label="[[localize('settings.title.messagebus')]]" text="{{messageChannel}}"></ui-text-field>
            </div>

        </div>
    </template>
    <script>
        class AbasProductionIndicatorRsWidgetSettings extends abasWidgets.CompanySettingsBehavior(Polymer.AbasLocalizeMixin(ABAS.AttributesBehavior(Polymer.Element))) {
            
            constructor() {
                super();
                this._boundApplySettings = this._applySettings.bind(this);
                this._boundRevertSettings = this._revertSettings.bind(this);
            }

            static get is() { return 'abas-production-indicator-rs-widget-settings' }
            static get properties() {
                return {
                    company: { type: Object, notify: true },
                    baseURL: { type: String, notify: true },
                    dispatcher: { type: Object, notify: true},
                    _employees: { type: Array, value: [] },
                    threshold: { type: String, notify: true },
                    endDate: { type: String, notify: true },
                    startDate: { type: String, notify: true },
                    endDateErp: { type: String, notify: true },
                    startDateErp: { type: String, notify: true },
                    messageChannel: { type: String, notify: true },
                    _inputModel: { type: Object },
                    _inputModelValid: { type: Boolean },
                    widgetTitle: { type: String, notify: true },
                    polling: { type: Object, notify: true }
                }
            }

            static get observers() {
                return [
                    '_loadConfigurationData(_configuration, company)',
                    '_dispatcherChanged(dispatcher)',
                    '_setPropertiesToSave(messageChannel, dispatcher, threshold, endDate, endDateErp, startDate, startDateErp, widgetTitle, polling)'
                ]
            }

            connectedCallback() {
                super.connectedCallback();
                this.loadResources(this.resolveUrl(this.importPath + '../locales.json'));
                window.addEventListener('settings-apply', this._boundApplySettings);
                window.addEventListener('settings-closed', this._boundRevertSettings);
                this._setPropertiesToSave(this.messageChannel, this.dispatcher, this.threshold, this.endDate, this.endDateErp, this.startDate, this.startDateErp, this.widgetTitle, this.polling);
                this.set('_propertiesOriginal', _.cloneDeep(this._propertiesToSave));
            }

            disconnectedCallback(){
                super.disconnectedCallback();
                window.removeEventListener('settings-apply', this._boundApplySettings);
                window.removeEventListener('settings-closed', this._boundRevertSettings);
            }

            _setPropertiesToSave(messageChannel, dispatcher, threshold, endDate, endDateErp, startDate, startDateErp, widgetTitle, polling){
                this._propertiesToSave = { messageChannel, dispatcher, threshold, endDate, endDateErp, startDate, startDateErp, widgetTitle, polling }
            }

            _loadConfigurationData(config, company) {
                // Gate
                if (!config || !company) { return }
                if (typeof this.localize == 'function' && !this.widgetTitle) {
                    this.set('widgetTitle', this.localize("rs.widget.title.text"));
                }
                this._fetchDispatchers(config.api.erpBaseURL, company);
            }

            _fetchDispatchers(baseURL, company) {
                if (baseURL === undefined || company === undefined) return [];

                AbasProductionWidgets.API.fetchEmployees({
                    erpBaseURL: baseURL,
                    company: company
                }).then((list) => {
                    return list.map((employee) => {
                        return {
                            id: _.get(employee, 'id'),
                            nummer: _.get(employee, 'nummer'),
                            such: _.get(employee, 'such'),
                            sucherw: _.get(employee, 'sucherw'),
                            // for the element to display:
                            title: _.get(employee, 'nummer') + '  ' + _.get(employee, 'sucherw'),
                            description: _.get(employee, 'such')
                        }
                    })
                }).then((list) => {
                    this.set('_employees', list);
                }).catch(console.log)
            }

            _resetDispatcher() {
                var empty = { id: "", title: "", description: "" };
                this.set('dispatcher', empty);
            }

            _dispatcherChanged(dispatcher) {
                this.set('_showDeleteButtonDispatcher', !_.isEmpty(dispatcher.id));
            }

            _applySettings() {
                if (this.id == event.detail.widgetID) {
                    this.threshold = (this.threshold === '' ? "0" : this.threshold);
                    let attributes = [];
                    for (let property in this._propertiesToSave) {
                        attributes.push({
                            name: property,
                            value: this._propertiesToSave[property]
                        });
                    }
                    this.fireAttributesUpdate(attributes);
                    this._propertiesOriginal = _.cloneDeep(this._propertiesToSave);
                }
            }

            _revertSettings() {
                if (this.id == event.detail.widgetID) {
                    for (let property in this._propertiesOriginal) {
                        this.set(`${property}`, this._propertiesOriginal[property])
                    }
                    this.set('_propertiesToSave', _.cloneDeep(this._propertiesOriginal));
                }
            }

        }
        customElements.define(AbasProductionIndicatorRsWidgetSettings.is, AbasProductionIndicatorRsWidgetSettings);
    </script>
</dom-module>