<link rel="import" href="../../polymer/polymer-element.html">
<link rel="import" href="../../polymer/lib/elements/dom-if.html">
<link rel="import" href="../../aba-widget/aba-widget.html">
<link rel="import" href="../../abas-widget-behavior/abas-widget-behavior.html">
<link rel="import" href="../../abas-styles/abas-styles.html">
<link rel="import" href="../lib/abas-production-widgets-style/abas-production-widgets-style.html">
<link rel="import" href="../../abas-config/abas-config-meta.html">
<link rel="import" href="../../paper-dropdown-menu/paper-dropdown-menu.html">
<link rel="import" href="../../paper-listbox/paper-listbox.html">
<link rel="import" href="../../paper-item/paper-item.html">
<link rel="import" href="../../paper-autocomplete/paper-autocomplete.html">
<link rel="import" href="../../paper-card/paper-card.html">
<link rel="import" href="../../paper-icon-button/paper-icon-button.html">
<link rel="import" href="../../paper-spinner/paper-spinner-lite.html">
<link rel="import" href="../../abas-widget-framework/abas-widget-framework.html">
<link rel="import" href="../../aba-js-imports/lodash-import.html">
<link rel="import" href="../../aba-js-imports/moment-import.html">
<link rel="import" href="../lib/api/abas-production-widgets-api.html">
<link rel="import" href="settings.html">

<dom-module id="abas-production-indicator-rs-widget">
    <template>
        <abas-config-meta data="{{_configuration}}"></abas-config-meta>
        <style include="abas-production-widgets-style">
            :host {
                --my-progress-bar-width: 0%;
                --my-threshold-bar-width: 0%;
            }

            .zoom-title {
                zoom: 0.64; 
            }
        </style>

        <aba-widget title="">
            <div slot="content" id="contentDiv">
                <!-- Widget content goes here! -->
                <div class="widgettitle">[[widgetTitle]]</div>
                <div class="circle"></div>
                <hr />
                <div class=indicatorContainer>
                    <div class=innerLayout>
                        <div id="spinnerDiv" class="spinner">
                            <paper-spinner-lite id="spinner" class="mountain-meadow" active>
                                </paper-spinner>
                        </div>

                        <div id="checkSetupDiv" class="checkSetupDiv">
                            [[localize('settings.checkSetup')]]
                        </div>

                        <div id="progressBar" class="whole-progress-bar">
                            <template is="dom-if" if="{{!overthreshold}}">
                                <div id="partProgress" class="part-progress-bar-green"></div>
                                <div id="thresholdBar" class="threshold-bar"></div>
                            </template>
                            <template is="dom-if" if="{{overthreshold}}">
                                <div id="partProgress" class="part-progress-bar-red"></div>
                                <div id="thresholdBar" class="threshold-bar"></div>
                            </template>
                        </div>

                        <div id="text" class="text">
                            <div class="numbers">
                                <div id="indicator" class="indicator">[[numberRs]]</div>
                                <div class="separator"></div>
                                <div class="thresholdDiv">[[allRs]]</div>
                            </div>

                            <div class="widget-footer">
                                <template is="dom-if" if="{{!dispatcher.id}}">
                                    <div>[[localize('widget.dispatchers.all')]]</div>
                                </template>
                                <template is="dom-if" if="{{dispatcher.id}}">
                                    <div>[[localize('widget.title.connection')]] {{dispatcher.sucherw}}</div>
                                </template>
                            </div>

                            <div id="spinnerDivSmall" class="spinnerSmall">
                                <paper-spinner-lite id="spinnerSmall" class="mountain-meadow" inactive></paper-spinner-lite>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <template is="dom-if" if="[[editMode]]">
                <div slot="settingsForm">
                    <abas-production-indicator-rs-widget-settings id="[[id]]" company={{company}} threshold="{{threshold}}"
                        dispatcher="{{dispatcher}}" end-date-erp="{{endDateErp}}" start-date-erp="{{startDateErp}}"
                        end-date="{{endDate}}" start-date="{{startDate}}" message-channel="{{messageChannel}}" polling="{{polling}}"
                        widget-title={{widgetTitle}}>
                    </abas-production-indicator-rs-widget-settings>

                </div>
                <div slot="optionsMenu">
                    <!-- Additonal settings menu items -->
                </div>
            </template>
        </aba-widget>
    </template>

    <script>
        class AbasProductionIndicatorRsWidget extends abasWidgets.PollingBehavior(abasWidgets.CompanyBehavior(ABAS.WidgetBehavior(Polymer.Element))) {
            constructor() {
                super();
                this._boundIndicatorResize = this._resizeIndicator.bind(this);
            }
            static get is() { return 'abas-production-indicator-rs-widget' }
            static get properties() {
                return {
                    messageChannel: { type: String, value: 'default', observer: "_changeMessageChannel" },
                    dispatcher: { type: Object, value: { id: "", title: "", description: "" } },
                    rs: { type: Array },
                    endDate: { type: String, value: "+5" },
                    startDate: { type: String, value: "-5" },
                    endDateErp: { type: String, value: "+10" },
                    startDateErp: { type: String, value: "-10" },
                    threshold: { type: String, value: "20" },
                    widgetData: { type: Object },
                    numberRs: { type: Number },
                    chart: { type: Object },
                    chartErpURL: { type: String },
                    chartErpURLPast: { type: String },
                    chartErpURLFuture: { type: String },
                    ratio: { type: String, notify: true },
                    overthreshold: { type: Boolean },
                    ratioUpdated: { type: Boolean, value: false, notify: true },
                    allRs: { type: Number },
                    _configuration: { type: Object },
                    widgetTitle: { type: String }
                };
            }

            static get observers() {
                return [
                    '_fetchRelocationSuggestions(_configuration, company, dispatcher.id, startDateErp, endDateErp, startDate, endDate, refresh)',
                    '_setupIndicator(rs, threshold, allRs)',
                    '_ratioChanged(ratio)',
                    '_fireTitleChanged(widgetTitle)'
                ];
            }
            //Add UI Listeners
            connectedCallback() {
                super.connectedCallback();
                // load translation
                this.loadResources(this.resolveUrl(this.importPath + '../locales.json'));
                // listener: resizing
                window.addEventListener('resize', this._boundIndicatorResize);
                // initial resize
                this._resizeIndicator();
                // listener: clickable indicator
                this.addEventListener('click', this._postChartDataOnClick);
                // initial bus color
                this._postAskForColor();
                // change to new property format
                this._changePropertyFormat();
            }

            disconnectedCallback() {
                super.disconnectedCallback();
                // listener: resizing
                window.removeEventListener('resize', this._boundIndicatorResize);
                // listener: clickable indicator
                this.removeEventListener('click', this._postChartDataOnClick);
                // message bus
                this.unsubscribeTopics();
            }

            _changePropertyFormat(){
                if (_.has(this.dispatcher, "value")) {
                    let newDispatcher = {};
                    newDispatcher.id = this.dispatcher.value;
                    newDispatcher.sucherw = this.dispatcher.text;
                    newDispatcher.title = this.dispatcher.text;
                    this.set('dispatcher', newDispatcher)
                    this.fireAttributesUpdate([
                        {
                            name: 'dispatcher',
                            value: newDispatcher
                        }]);
                }
            }

            /*
             * Save settings
             */
            _fireTitleChanged() {
                this.fireAttributesUpdate([{
                    name: 'widgetTitle',
                    value: this.widgetTitle
                }]);
            }

            /*
             * Message Bus
             */
            // subscribe to channel
            _changeMessageChannel(messageChannel) {
                // update messageChannel
                this.messageChannel = messageChannel ? messageChannel : 'default'
                // resubscribe
                this.unsubscribeTopics();
                this.subscribeTopics({
                    channel: messageChannel,
                    topics: ['busColor', 'chartClick'],
                    handler: (data, envelope) => { this._incomingMessage(data, envelope) }
                })
            }
            _incomingMessage(data, envelope) {
                // Don't handle own messages
                if (this.id == _.get(data, 'detail.sender.id')) {
                    return;
                }

                // Handle MessageBus color
                if (_.get(data, 'detail.sender.type') != "indicator" && _.get(data, 'detail.busColor') != undefined) {
                    this._changeColor(data);
                    return;
                }

                // Message is not for me!
                if (this.id != data.detail.recipient) {
                    return;
                }

                // case: incoming click event
                if (_.get(data, 'detail.clickEvent') != undefined) {
                    let clickedItem = data.detail.clickEvent;
                    let _chartURL;
                    if (clickedItem.wtsterm == "Past") {
                        _chartURL = this.chartErpURLPast;
                    } else if (clickedItem.wtsterm == "Future") {
                        _chartURL = this.chartErpURLFuture;
                    } else {
                        let _clickedDate = clickedItem.wtsterm.replace(/-/g, "");
                        _chartURL = this.chartErpURL.replace(/\(placeholder\)/g, _clickedDate);
                    }
                    const target = AbasProductionWidgets.API.getURLTarget({ configuration: this._configuration, navigator: navigator })
                    window.open(_chartURL, target);
                }
            }
            // Message bus: change color
            _changeColor(data) {
                this.updateStyles({ '--widget-bus-color': data.detail.busColor });
                if (this.id == data.detail.recipient) {
                    this.updateStyles({ '--widget-bus-color-active': data.detail.busColor });
                    return;
                }
                this.updateStyles({ '--widget-bus-color-active': 'unset' });
            }
            // Message bus: ask for color
            _postAskForColor() {
                this.publishTopic({
                    channel: this.messageChannel || 'default',
                    topic: 'busColor',
                    data: {
                        detail: {
                            sender: {
                                id: this.id,
                                type: "indicator"
                            },
                            busColor: ""
                        }
                    }
                });
            }
            // Message bus: click event handling
            _postChartDataOnClick(e) {
                this._postChartData(e.type);
            }
            _postChartData(event) {
                this.publishTopic({
                    channel: this.messageChannel || 'default',
                    topic: 'indicatorClick',
                    data: {
                        detail: {
                            sender: {
                                id: this.id,
                                type: "indicator",
                                event: event
                            },
                            chart: this.chart,
                            table: {}
                        }
                    }
                });
            }

            /*
             * Resizing
             */
            _resizeIndicator() {
                this._debouncedIndicatorResize = Polymer.Debouncer.debounce(
                    this._debouncedIndicatorResize,
                    Polymer.Async.timeOut.after(50),
                    () => {
                        this.shadowRoot.querySelector(".numbers").classList.toggle("zoom-numbers", this.height < 5);
                        this.shadowRoot.querySelector("#progressBar").classList.toggle("zoom-bars", this.height < 5);
                        this.shadowRoot.querySelector(".widget-footer").classList.toggle("zoom-footer", this.height < 5 && this.width < 5);
                        this.shadowRoot.querySelector(".widgettitle").classList.toggle("zoom-title", this.height < 5 && this.width < 5);
                        this.shadowRoot.querySelector("#spinnerSmall").classList.toggle("zoom-spinner", this.height < 5 && this.width < 5);
                    }
                );
            }

            /*
             * Indicator stuff
             */
            _ratioChanged(ratio) {
                this.set('ratioUpdated', !this.ratioUpdated)
            }

            _setupIndicator(rs, threshold, allRs) {
                if (rs == undefined || threshold == undefined || allRs == undefined) return;
                this.set('numberRs', rs.length);
                this.ratio = this._computeRatio(threshold, this.numberRs);
                this.set('overthreshold', this.ratio > 100)
                let delayedOfAll = allRs > 0 ? (this.numberRs / allRs) * 100 : 0;
                let thresholdOfAll = allRs > 0 ? ((threshold / allRs) * 100) : 0;
                thresholdOfAll = thresholdOfAll > 100 ? 100 : thresholdOfAll;
                this.updateStyles({ '--my-progress-bar-width': `${delayedOfAll}%` });
                this.updateStyles({ '--my-threshold-bar-width': `${thresholdOfAll}%` });
            }

            _computeRatio(threshold, numberRs) {
                let _threshold = Number.parseInt(threshold, 10);
                return (_threshold === 0 ? 0 : Math.round((numberRs / _threshold) * 100));
            }

            /*
             * Chart
             */
            _setChart(relocationSugg, startDate, endDate) {
                // specify chart configuration item and data
                let chartData = this._countRS(relocationSugg);

                let today = new Date().toISOString().slice(0, 10);


                let maxVal = 0;
                for (let key in chartData) {
                    if (chartData[key].count > maxVal) {
                        maxVal = chartData[key].count;
                    }
                };

                let max4Chart = Math.ceil(maxVal / 10) * 10;

                let title = this.dispatcher.id ? this.localize('rs.chart.title.with.dispatcher') + this.dispatcher.sucherw : this.localize('rs.chart.title.without.dispatcher')

                let data = [];
                let labelsAsDate = [];
                let dateFormatFnc = function (isoString) {
                    return new Date(isoString).toLocaleString(navigator.language, {
                            year: 'numeric',
                            month: '2-digit',
                            day: '2-digit'
                        });
                }
                chartData.forEach(item => {
                    if (item.count === 0) {
                        item.count = NaN;
                    }
                    if (item.wtsterm == "Past") {
                        let date = moment().subtract(Math.abs(startDate), "days").format('L');
                        data.push({
                            value: item.count,
                            itemStyle: { color: item.color },
                            wtsterm: "Past",
                            dispatcher: this.dispatcher.id,
                            tooltip: this.localize('chart.tooltip.past') + " " + dateFormatFnc(date) + ": " + item.count
                        });
                    } else if (item.wtsterm == "Future") {
                        let date = moment().add(Math.abs(endDate), "days").format('L');
                        data.push({
                            value: item.count,
                            itemStyle: { color: item.color },
                            wtsterm: "Future",
                            dispatcher: this.dispatcher.id,
                            tooltip: this.localize('chart.tooltip.future') + " " + dateFormatFnc(date) + ": " + item.count
                        });
                    } else {
                        data.push({
                            value: item.count,
                            itemStyle: { color: item.color },
                            wtsterm: moment(item.wtsterm, 'L').format('YYYY-MM-DD'),
                            dispatcher: this.dispatcher.id,
                            tooltip: dateFormatFnc(item.wtsterm) + ": " + item.count
                        });
                    }
                    labelsAsDate.push(item.wtsterm);
                });

                let labels = [];
                labelsAsDate.forEach(function (element) {
                    if (element === "Past" || element === "Future") {
                        element = "...";
                    } else {
                        let elementDay = moment(element, 'L');
                        let today = moment().startOf('day');
                        let difference = elementDay.diff(today, 'days')
                        element = difference;
                    }
                    labels.push(element);
                });

                this._setupChartOptions(title, labels, data, labelsAsDate);
                this._postChartData("refresh");
            }

            _countRS(arrays) {
                var i, umlagerungsvorschlag, count, result, entry;

                count = {};
                for (i = 0; i < arrays.length; i++) {
                    umlagerungsvorschlag = arrays[i];
                    count[umlagerungsvorschlag.wtsterm] = (count[umlagerungsvorschlag.wtsterm] || 0) + 1;
                }

                result = [];
                for (entry in count) {
                    result.push({ wtsterm: entry, count: count[entry] });
                }
                let end = moment().add(Math.abs(this.endDate), "days");
                let start = moment().subtract(Math.abs(this.startDate), "days");
                let relocationSuggOut = [];
                let past = 0;
                let future = 0;
                result.forEach(item => {
                    let itemDate = moment(item.wtsterm);
                    if (start <= itemDate && itemDate <= end) {
                        if (itemDate < moment().subtract(1, 'days')) {
                            item.color = getComputedStyle(this).getPropertyValue('--abas-amaranth');
                        } else {
                            item.color = getComputedStyle(this).getPropertyValue('--abas-mountain-meadow');
                        }
                        item.wtsterm = itemDate.format('L');
                        relocationSuggOut.push(item);
                    } else if (start > itemDate) {
                        past += item.count;
                    } else if (itemDate > end) {
                        future += item.count;
                    }

                });
                let rsOut = [
                    { count: past, wtsterm: 'Past', color: getComputedStyle(this).getPropertyValue('--abas-froly') },
                    ...relocationSuggOut,
                    { count: future, wtsterm: 'Future', color: getComputedStyle(this).getPropertyValue('--chart-future-color') }
                ]
                this.set('allRs', this._countAllRs(rsOut));
                return rsOut;
            }

            _countAllRs(rsOut) {
                let allRs = 0;
                rsOut.forEach(function (element) {
                    allRs += element.count
                })
                return allRs;
            }

            _setupChartOptions(title, labels, data, labelsAsDate) {
                if (data.every(this._isValueNaN)) {
                    this.set('chart', this._setupNoDataChart(title));
                } else {
                    this.set('chart', this._setupChartWithData(title, labels, data, labelsAsDate));
                }
            }

            _setupChartWithData(title, labels, data, labelsAsDate) {
                let abasOuterSpace = getComputedStyle(this).getPropertyValue('--abas-outer-space');
                let chartOptions = {
                    grid: {
                        show: false,
                        top: 15,
                        bottom: 20,
                        left: '5%',
                        right: '5%',
                        containLabel: true
                    },
                    title: {
                        text: title,
                        head: title,
                        show: false
                    },
                    tooltip: {
                        backgroundColor: abasOuterSpace
                    },
                    xAxis: {
                        name: this.localize('chart.xaxis.name'),
                        nameLocation: 'center',
                        nameGap: 25,
                        type: 'category',
                        axisLabel: {
                            interval: 0,
                            rotate: 0,
                            color: abasOuterSpace,
                            fontSize: 11
                        },
                        data: labels,
                        axisLine: { lineStyle: { color: abasOuterSpace } },
                        axisTick: { lineStyle: { color: abasOuterSpace } }
                    },
                    yAxis: {
                        type: 'log',
                        axisLine: { lineStyle: { color: abasOuterSpace } },
                        axisTick: { lineStyle: { color: abasOuterSpace } },
                        axisLabel: { color: abasOuterSpace },
                        splitLine: { show: false },
                        min: 1
                    },
                    series: {
                        type: "bar",
                        data: data,
                        tooltip: labelsAsDate,
                        barMinHeight: '2',
                        barCategoryGap: '40%'
                    }
                };
                return chartOptions;
            }

            _setupNoDataChart(title) {
                let noDataOption = {
                    title: {
                        show: true,
                        textStyle: {
                            color: getComputedStyle(this).getPropertyValue('--abas-rolling-stone'),
                            fontSize: 14
                        },
                        text: this.localize('chart.nodata'),
                        head: title,
                        left: 'center',
                        top: 'center',
                    },
                    xAxis: {
                        show: false
                    },
                    yAxis: {
                        show: false
                    },
                    series: []
                };
                return noDataOption;
            }

            /*
             * Middleware request
             */
            fetchRelocationSuggestions(baseURL, company, dispatcherID, startDateErp, endDateErp, startDate, endDate) {
                if (baseURL === undefined || company === undefined) return [];

                if (this._dispID != dispatcherID || this._ten != company || this._startDateErp != startDateErp || this._endDateErp != endDateErp) {
                    this._dispID = dispatcherID;
                    this._ten = company;
                    this._startDateErp = startDateErp;
                    this._endDateErp = endDateErp;

                    let newEndDate = parseInt(this.endDate) + 1;

                    let endDateFormatted = moment().add(Math.abs(newEndDate), "days").format('YYYYMMDD');
                    let startDateFormatted = moment().subtract(Math.abs(this.startDate), "days").format('YYYYMMDD');
                    let endDateErpFormatted = moment().add(Math.abs(this.endDateErp), "days").format('YYYYMMDD');
                    let startDateErpFormatted = moment().subtract(Math.abs(this.startDateErp), "days").format('YYYYMMDD');

                    const database4Query = "<(Purchasing)><(Edit)>,(RelocationSuggestions)";
                    this.chartErpURL = abasWidgets.API.generateLinkToErpByCommand({ company: company, erpCommand: `${database4Query}?vom=(placeholder)|bis=(placeholder)|betreuer=${dispatcherID}|ladetab=` });
                    this.chartErpURLPast = abasWidgets.API.generateLinkToErpByCommand({ company: company, erpCommand: `${database4Query}?vom=${startDateErpFormatted}|bis=${startDateFormatted}|betreuer=${dispatcherID}|ladetab=` });
                    this.chartErpURLFuture = abasWidgets.API.generateLinkToErpByCommand({ company: company, erpCommand: `${database4Query}?vom=${endDateFormatted}|bis=${endDateErpFormatted}|betreuer=${dispatcherID}|ladetab=` });

                    let headers = new Headers();
                    headers.set('accept', 'application/abas.objects.simple+json');


                    let startDateErpPrefix = !(startDateErp.startsWith('+') || startDateErp.startsWith('-')) ? "+" : "";
                    let startErp = startDateErpPrefix + startDateErp;

                    let endDateErpPrefix = !(endDateErp.startsWith('+') || endDateErp.startsWith('-')) ? "+" : "";
                    let endErp = endDateErpPrefix + endDateErp;

                    /*
                    * (!) don't forget: @ordnung=wtsterm
                    */
                    let criteria = "kotyp=`;bsart=(Relocation);art=;mge=;wtsterm=" + startErp + "!" + endErp + ";betreuer=" + dispatcherID + ";@gruppe=2;@ablage=(Active);@ordnung=wtsterm;";

                    let fetchURL = new URL(`${baseURL}${company.href}/obj/data/4:2`);
                    let fetchSearchParams = fetchURL.searchParams;
                    fetchSearchParams.set('limit', '0');
                    fetchSearchParams.set('criteria', criteria);
                    fetchSearchParams.set('headFields', ["id", "bsart", "wtsterm", "betreuer", "mge"].join(","));

                    return this._lastResp = auth0Fetch(fetchURL.toString(), {
                        headers: headers
                    }).then((resp) => {
                        if (resp.status === 200) {
                            return resp.json();
                        }
                        throw new Error(`This ain't work. Requesting middleware failed.`)
                    }).then((mwResponse) => {
                        let rs = _.get(mwResponse, 'erpDataObjects');
                        if (!rs) {
                            console.log('middleware response is not as expected');
                            return []
                        }
                        return rs.map((rs) => {
                            // simplify access to the result
                            // the field object consists of value and text
                            return {
                                id: _.get(rs, 'head.id'),
                                wtsterm: _.get(rs, 'head.wtsterm'),
                                betreuer: _.get(rs, 'head.betreuer')
                            }
                        });
                    })
                } else {
                    return this._lastResp;
                }
            }

            _fetchRelocationSuggestions(config, company, dispatcherID, startDateErp, endDateErp, startDate, endDate, refresh) {
                if (!config || !company || _.isUndefined(dispatcherID) ) { 
                    this._showCheckSetup();
                    return; 
                }
                this._activateSpinner();
                this.fetchRelocationSuggestions(config.api.erpBaseURL, company, dispatcherID, startDateErp, "-1", startDate, endDate)
                    .then(relocationSugg => {
                        this.set('rs', relocationSugg)
                        return this.fetchRelocationSuggestions(config.api.erpBaseURL, company, dispatcherID, startDateErp, endDateErp, startDate, endDate)
                    }).then(relocationSuggChart => {
                        this._setChart(relocationSuggChart, startDate, endDate);
                        this._deactivateSpinner();
                    }).catch((error) => {
                        console.error(error)
                        this._showCheckSetup();
                });
            }

            /*
             * Visual sugar: Spinner
             */

            _activateSpinner() {
                if (!this.allRs) {
                    this.$.spinner.active = true;
                    this.$.spinnerDiv.hidden = false;
                    this.$.progressBar.hidden = true;
                    this.$.text.hidden = true;
                    this.$.checkSetupDiv.hidden = true;
                } else {
                    this.$.spinnerSmall.active = true;
                    this.$.spinnerDivSmall.hidden = false;
                }
            }

            _deactivateSpinner() {
                if (this.$.text.hidden) {
                    this.$.spinner.active = false;
                    this.$.spinnerDiv.hidden = true;
                    this.$.progressBar.hidden = false;
                    this.$.text.hidden = false;
                    this.$.checkSetupDiv.hidden = true;
                    this.$.spinnerSmall.active = false;
                    this.$.spinnerDivSmall.hidden = true;
                } else {
                    this.$.spinnerSmall.active = false;
                    this.$.spinnerDivSmall.hidden = true;
                }
            }

            _showCheckSetup(){
                this.$.spinner.active = false;
                this.$.spinnerDiv.hidden = true;
                this.$.progressBar.hidden = true;
                this.$.text.hidden = true;
                this.$.checkSetupDiv.hidden = false;
                this.set('allRs', undefined)
            }

            /*
             * helper functions
             */
            _isValueNaN(currentValue) {
                return _.isNaN(currentValue.value);
            }

        }
        customElements.define(AbasProductionIndicatorRsWidget.is, AbasProductionIndicatorRsWidget);
    </script>
</dom-module>