<link rel="import" href="../../polymer/polymer-element.html">
<link rel="import" href="../../abas-styles/abas-styles.html">
<link rel="import" href="../../abas-config/abas-config-meta.html">
<link rel="import" href="../../paper-autocomplete/paper-autocomplete-suggestions.html">
<link rel="import" href="../../paper-input/paper-input.html">
<link rel="import" href="../../paper-button/paper-button.html">
<link rel="import" href="../../iron-icon/iron-icon.html">
<link rel="import" href="../lib/api/abas-production-widgets-api.html">
<link rel="import" href="../../abas-widget-framework/abas-widget-framework.html">
<link rel="import" href="../../abas-widget-behavior/abas-widget-behavior.html">

<dom-module id="abas-production-wos-widget-settings">
    <template>
        <abas-config-meta data="{{_configuration}}"></abas-config-meta>
        <style include="abas-production-widgets-style">
            :host {
                display: block;
                background: var(--abas-black-800);
            }
            .right-aligned {
                text-align: right;
            }
            .left-aligned {
                text-align: left;
            }
            .center-aligned {
                text-align: center;
            }
            .widelayout {
                display: flex;
                flex-flow: row;
            }
            .widelayout.centered {
                justify-content: center;
            }

            table {
                width: 100%;
            }
            table tr[data-dispatcher-type=summary] td {
                background: whitesmoke;
            }            
            table tr[data-dispatcher-type=summary].highlight td {
                animation: highlight .5s;
            }
            @keyframes highlight {
                0% {
                    background: #00bba3;
                }
                100% {
                    background: whitesmoke;
                }
            }
            .formgroupTitle {
                margin-bottom: 10px;
            }
            #addDispatcherForm, #dateSection {
                margin-bottom: 30px;
            }
            #tableContainer {
                flex-grow: 1;
                margin-left: 50px;
            }
            #dateSection paper-input.firstInRow {
                margin-right: 10px;
            }
            .trashIcon {
                display: flex;
                justify-content: center;
            }
            .dispatcherSummary {
                margin-top: 20px;
            }
            .disponentInput {
                display: flex;
            }
            #divDispatcherInput {
                flex-grow: 1;
                flex-shrink: 1;
                flex-basis: auto;
                margin-right: 8px; 
            }
            #divThresholdInput {
                flex-grow: 1;
                flex-shrink: 1;
                flex-basis: auto;
                max-width: 80px; 
            }
        </style>
        <div slot="general">

            <h3>[[localize('settings.title.general')]]</h3>
            <ui-text-field label="[[localize('settings.title.text')]]" text="{{widgetTitle}}"></ui-text-field>
            <ui-companyselector selected-company="{{selectedCompany}}"></ui-companyselector>
            <polling-input-with-elements polling="{{polling}}"></polling-input-with-elements>

            <h3>[[localize('settings.title.indicator')]]</h3>

            <div class='widelayout centered'>
                <div id=formsContainer>
                    <div id=addDispatcherForm>
                        <div class="formgroupTitle">
                            <abas-inplace-header>[[localize('wos-micro.settings.adddispatchersection.label')]]</abas-inplace-header>
                        </div>

                        <div class="disponentInput">
                            <div id="divDispatcherInput" class="flex-container">
                                <ui-auto-complete class="flex-item" label="[[localize('settings.dispatcher.label')]]" items="[[_employees]]"
                                    selected-item="{{_addDispatcherModel.dispatcher}}" on-item-select="_onTapAddDispatcher"></ui-auto-complete>
                            </div>    
                            <div id="divThresholdInput" class="thresholdInputs">
                                <ui-text-field input-type="Number" label="[[localize('settings.threshold.label')]]" text="{{_addDispatcherModel.threshold}}"></ui-text-field>
                            </div>
                        </div>


                        <div class="dispatcherSummary">
                            <abas-function-button icon="plus" on-tap="_addDispatcherSummary">[[localize('wos-micro.settings.dispatchersummary.label')]]</abas-function-button>
                        </div>

                    </div>
                    <div id=dateSection>
                        <div class="formgroupTitle">
                            <abas-inplace-header>[[localize('wos-micro.settings.datesection.title')]]</abas-inplace-header>
                        </div>                        
                        <div id="divDateInputsErp" class="dateInputs widelayout">
                            <ui-text-field class="flex-date" style="margin-right: 8px;" input-type="Number" label="[[localize('settings.startdateerp.label')]]" text="{{startDateErp}}"></ui-text-field>
                            <ui-text-field class="flex-date" input-type="" label="[[localize('settings.enddateerp.label')]]" text="{{endDateErp}}"></ui-text-field>
                        </div>
                        <div id="divDateInputs" class="dateInputs widelayout">
                            <ui-text-field class="flex-date" style="margin-right: 8px;" input-type="Number" label="[[localize('settings.startdate.label')]]" text="{{startDate}}"></ui-text-field>
                            <ui-text-field class="flex-date" input-type="" label="[[localize('settings.enddate.label')]]" text="{{endDate}}"></ui-text-field>
                        </div>
                    </div>
                </div>

                <div id=tableContainer>
                    <div class="formgroupTitle">
                        <abas-inplace-header>[[localize('wos-micro.settings.currentdispachters.title')]]</abas-inplace-header>
                    </div>                    
                    <table>
                        <thead>
                            <tr>
                                <th style="width: 60px;">&nbsp;</th>
                                <th class="left-aligned">[[localize('settings.dispatcher.label')]]</th>
                                <th class="right-aligned">[[localize('settings.threshold.label')]]</th>
                            </tr>
                        </thead>
                        <tbody>
                            <template is=dom-repeat items=[[dispatchers]] as=dispatcher>
                                <tr data-dispatcher-type$="[[dispatcher.type]]">
                                    <td class="right-aligned">
                                        <div class="trashIcon">
                                            <abas-function-button icon="trashAlt" on-tap=_onTapDispatcherDelete></abas-function-button>
                                        </div>
                                    </td>
                                    <td class="left-aligned">[[dispatcher.sucherw]]</td>
                                    <td class="right-aligned" style="width: 80px;">
                                        <ui-text-field input-type="Number" text="{{dispatcher.threshold}}"></ui-text-field>
                                    </td>
                                </tr>
                            </template>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </template>
    <script>
        class AbasProductionWosWidgetSettings extends abasWidgets.CompanySettingsBehavior(Polymer.AbasLocalizeMixin(ABAS.AttributesBehavior(Polymer.Element))) {
            constructor() {
                super();
                this._boundApplySettings = this._applySettings.bind(this);
                this._boundRevertSettings = this._revertSettings.bind(this);
            }
            static get is() { return 'abas-production-wos-widget-settings' }
            static get properties() {
                return {
                    company: { type: Object, notify: true },
                    dispatchers:  { type: Array,  value: [] },
                    endDate:      { type: String, notify: true },
                    startDate:    { type: String, notify: true },
                    endDateErp:   { type: String, notify: true },
                    startDateErp: { type: String, notify: true },
                    _addDispatcherModel: { type: Object, value: { threshold: 20 } },
                    _employees:          { type: Array, value: [] },
                    _selectedEmployee:   { type: Object },
                    _configuration:      { type: Object },
                    polling: { type: Object, notify: true },
                    widgetTitle: { type: String, notify: true }
                }
            }

            static get observers() {
                return [
                    '_reloadEmployees(_configuration, company)',
                    '_setPropertiesToSave(messageChannel, threshold, widgetTitle, dispatchers, endDate, endDateErp, startDate, startDateErp, polling)'
                ]
            }

            connectedCallback() {
                super.connectedCallback();
                this.loadResources(this.resolveUrl(this.importPath + '../locales.json'));
                window.addEventListener('settings-apply', this._boundApplySettings);
                window.addEventListener('settings-closed', this._boundRevertSettings);
                this._setPropertiesToSave(this.messageChannel, this.threshold, this.widgetTitle, this.dispatchers, this.endDate, this.endDateErp, this.startDate, this.startDateErp, this.polling);
                this.set('_propertiesOriginal', _.cloneDeep(this._propertiesToSave));
            }

            disconnectedCallback(){
                super.disconnectedCallback();
                window.removeEventListener('settings-apply', this._boundApplySettings);
                window.removeEventListener('settings-closed', this._boundRevertSettings);
            }

            _setPropertiesToSave(messageChannel, threshold, widgetTitle, dispatchers, endDate, endDateErp, startDate, startDateErp, polling){
                this._propertiesToSave = { messageChannel, threshold, widgetTitle, dispatchers, endDate, endDateErp, startDate, startDateErp, polling }
            }

            _onTapDispatcherDelete(_event) {
                this._removeDispatcher(_event.model.dispatcher)
            }

            _removeDispatcher(dispatcher) {
                this.splice('dispatchers', this.dispatchers.indexOf(dispatcher), 1)
            }

            _onTapAddDispatcher(_event) {
                this._addDispatcher()
                this._clearDispatcherSelection()
            }

            _addDispatcher() {
                this.push('dispatchers', {
                    sucherw: this._addDispatcherModel.dispatcher.sucherw,
                    id: this._addDispatcherModel.dispatcher.id,
                    threshold: this._addDispatcherModel.threshold,
                    type: 'regular'
                });
            }

            _clearDispatcherSelection(){
                var empty = { id: "", title: "", description: "" };
                this.set('_addDispatcherModel.dispatcher', empty)
            }

            _addDispatcherSummary() {
                const dsIdx = this.dispatchers.findIndex((dispatcher) => { return dispatcher.type === 'summary' });
                if (dsIdx > -1) {
                    const summaryRows = this.shadowRoot.querySelectorAll('table tr[data-dispatcher-type=summary]')
                    summaryRows.forEach(row => {
                        row.classList.add('highlight');
                        this._highlightAnimationDebouncer = Polymer.Debouncer.debounce(this._highlightAnimationDebouncer,
                            Polymer.Async.timeOut.after(500),
                            () => { row.classList.remove('highlight'); });
                    })
                    return;
                }
                const ds = {
                    sucherw: this.localize('widget.dispatchers.all'),
                    id: '',
                    threshold: 50,
                    type: 'summary'
                }
                this.splice('dispatchers', 0, 0, ds);
            }

            _reloadEmployees(_configuration, company) {
                let baseURL = _.get(_configuration, 'api.erpBaseURL', undefined);
                if (baseURL && company) {
                    AbasProductionWidgets.API.fetchEmployees({
                        erpBaseURL: baseURL,
                        company: company
                    }).then((list) => {
                        return list.map((employee) => {
                            return {
                                id: employee.id,
                                threshold: "20",
                                nummer: _.get(employee, 'nummer'),
                                such: _.get(employee, 'such'),
                                sucherw: _.get(employee, 'sucherw'),
                                // for the element to display:
                                title: _.get(employee, 'nummer') + '  ' + _.get(employee, 'sucherw'),
                                description: _.get(employee, 'such')
                            }
                        })
                    }).then((list) => {
                        this.set('_employees', list);
                    }).catch(console.log)
                }
                if (typeof this.localize == 'function' && !this.widgetTitle) {
                    this.widgetTitle = this.localize("wos.widget.title.text")
                } 
            }

            _applySettings() {
                if (this.id == event.detail.widgetID) {
                    let attributes = [];
                    for (let property in this._propertiesToSave) {
                        attributes.push({
                            name: property,
                            value: this._propertiesToSave[property]
                        });
                    }
                    this.fireAttributesUpdate(attributes);
                    this._propertiesOriginal = _.cloneDeep(this._propertiesToSave);
                }
            }

            _revertSettings() {
                if (this.id == event.detail.widgetID) {
                    for (let property in this._propertiesOriginal) {
                        this.set(`${property}`, this._propertiesOriginal[property])
                    }
                    this.set('_propertiesToSave', _.cloneDeep(this._propertiesOriginal));
                }
            }

        }
        customElements.define(AbasProductionWosWidgetSettings.is, AbasProductionWosWidgetSettings);
    </script>
</dom-module>