<link rel="import" href="../../polymer/polymer-element.html">
<link rel="import" href="../../polymer/lib/elements/dom-if.html">
<link rel="import" href="../../polymer/lib/elements/dom-repeat.html">
<link rel="import" href="../../aba-widget/aba-widget.html">
<link rel="import" href="../../abas-widget-behavior/abas-widget-behavior.html">
<link rel="import" href="../../abas-config/abas-config-meta.html">
<link rel="import" href="../../aba-js-imports/echart-import.html">
<link rel="import" href="../lib/abas-production-widgets-style/abas-production-widgets-style.html">
<link rel="import" href="../lib/indicator-wos/indicator-wos.html">
<link rel="import" href="../../abas-widget-framework/abas-widget-framework.html">
<link rel="import" href="../../aba-js-imports/lodash-import.html">
<link rel="import" href="../lib/api/abas-production-widgets-api.html">
<link rel="import" href="settings.html">
<script src="../../moment/moment.js"></script>

<dom-module id="abas-production-wos-widget">
    <template>
        <abas-config-meta data="{{_configuration}}"></abas-config-meta>

        <style include="abas-production-widgets-style">
            [slot="content"] {
                cursor: default;
            }

            #layout {
                width: 100%;
                height: 100%;
                display: flex;
                flex-flow: column;
            }

            #indicatorsLayout {
                display: flex;
                flex-flow: row;
                justify-content: space-evenly;
                flex-grow: 1;
                align-items: center;
            }
            
            .indicatorsLayoutColumn {
                flex-flow: column !important;
                height: 85%;
            }
            
            .middleColumn {
                height: 100% !important;
            }

            #chartContainer {
                width: 100%;
                height: calc(80% - 10px);
                flex-grow: 1;
            }

            #middle {
                height: 20%;
                padding-top: 10px;
            }

            .wos {
                display: flex;
            }
        </style>

        <aba-widget title="">
            <div slot="content">
                <div id="layout">
                    <div id="top">
                        <div class="widgettitle">[[widgetTitle]]</div>
                        <hr id="horizontalLine" />
                    </div>
                    <div id="middle">
                        <div id="indicatorsLayout">
                            <template is="dom-repeat" items="[[dispatchers]]" as="dispatcher">
                                <div id="[[dispatcher.id]]" class="wos" on-tap="changeChart">
                                    <indicator-wos company="[[company]]" dispatcher="[[dispatcher]]"
                                        start-date="[[startDate]]" start-date-erp="[[startDateErp]]" end-date="[[endDate]]"
                                        end-date-erp="[[endDateErp]]" ratio-updated="{{ratioUpdated}}" refresh="{{refresh}}">
                                    </indicator-wos>
                                </div>
                            </template>
                        </div>
                    </div>
                    <div id="chartContainer"></div>
                </div>
            </div>
            <template is="dom-if" if="[[editMode]]">
                <div slot="settingsForm">
                    <abas-production-wos-widget-settings id="[[id]]" company="{{company}}" dispatchers="{{dispatchers}}" start-date="{{startDate}}"
                        start-date-erp="{{startDateErp}}" end-date="{{endDate}}" end-date-erp="{{endDateErp}}" polling="{{polling}}" widget-title={{widgetTitle}}></abas-production-wos-widget-settings>
                </div>
            </template>
            <div slot="optionsMenu">
            </div>
        </aba-widget>
    </template>

    <script>
        class AbasProductionWosWidget extends abasWidgets.PollingBehavior(abasWidgets.CompanyBehavior(ABAS.WidgetBehavior(Polymer.Element))) {
            constructor() {
                super();
                this._boundChartResize = this._resizeChart.bind(this);
            }
            static get is() { return 'abas-production-wos-widget' }
            static get properties() {
                return {
                    dispatchers: { type: Array, value: [] },
                    endDate: { type: String },
                    startDate: { type: String },
                    endDateErp: { type: String },
                    startDateErp: { type: String },
                    _configuration: { type: Object },
                    ratioUpdated: { type: Boolean },
                    widgetTitle: { type: String }
                }
            }
            static get observers() {
                return ['_reorderIndicator(ratioUpdated)',
                        '_refreshChart(refresh)'
                ]
            }

            connectedCallback() {
                super.connectedCallback();
                //load translation
                this.loadResources(this.resolveUrl(this.importPath + '../locales.json'));
                window.addEventListener('resize', this._boundChartResize);
                this.chart = echarts.init(this.$.chartContainer);
                this._resizeChart();
                // change to new property format
                this._changePropertyFormat();
            }
            disconnectedCallback() {
                super.disconnectedCallback();
                window.removeEventListener('resize', this._boundChartResize);
            }

            _changePropertyFormat(){
                if(_.isEmpty(this.dispatchers)) return;
                let noDispatcherHasValue = this.dispatchers.every((element => {
                    return !_.has(element, "value")
                }))
                if(noDispatcherHasValue) return;
                let newDispatchers = [];
                this.dispatchers.forEach((dispatcher) => {
                    if (_.has(dispatcher, "value")) {
                    let newDispatcher = {};
                    newDispatcher.id = dispatcher.value;
                    newDispatcher.sucherw = dispatcher.text;
                    newDispatcher.title = dispatcher.text;
                    newDispatcher.threshold = dispatcher.threshold;
                    newDispatchers.push(newDispatcher)
                    } else {
                        newDispatchers.push(dispatcher)
                    }
                })
                this.set('dispatchers', newDispatchers)
                this.fireAttributesUpdate([
                    {
                        name: 'dispatchers',
                        value: newDispatchers
                    }]);
            }

            _refreshChart(refresh) {
                let elements = this.shadowRoot.querySelectorAll('indicator-wos');
                for (let i = 0; i < elements.length; i++) {
                    if (elements[i].style.fontSize == "110%") {
                        this._setupChartOptions(elements[i].chart);
                    }
                }        
            }

            _reorderIndicator(ratioUpdated) {
                this._reorderIndicatorDebouncer = Polymer.Debouncer.debounce(
                    this._reorderIndicatorDebouncer,
                    Polymer.Async.timeOut.after(50),
                    () => {
                        new Array(...this.shadowRoot.querySelectorAll('.wos')).map((wrapperDiv) => {
                            let indicator = wrapperDiv.querySelector('indicator-wos');
                            return {
                                wrapper: wrapperDiv,
                                indicator: indicator
                            }
                        }).sort((a, b) => {
                            return (a.indicator.ratio > b.indicator.ratio) ? -1 : 1;
                        }).forEach((item, index) => {
                            item.wrapper.style.order = (index + 1)
                        });
                        this._chooseFirstIndicatorAsDefault();
                    }
                );

            }

            setupClickChart() {
                let newEndDate = parseInt(this.endDate) + 1;
                let endDateFormatted = moment().add(Math.abs(newEndDate), "days").format('YYYYMMDD');
                let startDateFormatted = moment().subtract(Math.abs(this.startDate), "days").format('YYYYMMDD');
                let endDateErpFormatted = moment().add(Math.abs(this.endDateErp), "days").format('YYYYMMDD');
                let startDateErpFormatted = moment().subtract(Math.abs(this.startDateErp), "days").format('YYYYMMDD');
                let _baseClientURL = window.location.origin;
                let _chartUrl;
                let company = this.company;
                let vom, bis;

                this.chart.on('click', function (params) {
                    let dispatcherID = params.data.dispatcher

                    if (params.data.tsterm === "Past") {
                        vom = startDateErpFormatted;
                        bis = startDateFormatted;
                    } else if (params.data.tsterm === "Future") {
                        vom = endDateFormatted;
                        bis = endDateErpFormatted;
                    } else {
                        vom = moment(params.data.tsterm).format('YYYYMMDD');
                        bis = moment(params.data.tsterm).format('YYYYMMDD');
                    }
                    const database4Query = "<(Purchasing)><(Edit)>,(WorkOrderSuggestions)";
                    _chartUrl = abasWidgets.API.generateLinkToErpByCommand({company: company, erpCommand: `${database4Query}?vom=${vom}|bis=${bis}|betreuer=${dispatcherID}|ladetab=`});
                    const target = AbasProductionWidgets.API.getURLTarget({ configuration: this._configuration, navigator: navigator })
                    window.open(_chartUrl, target);
                });
            }

            _chooseFirstIndicatorAsDefault() {
                let indicator = this.shadowRoot.querySelector('div.wos[style="order: 1;"]').querySelector('indicator-wos');
                if (indicator.chart == undefined) return;
                let _chartOptions = indicator.chart
                this._setupChartOptions(_chartOptions);
                this.chart.off('click', null);
                this._styleIndicatorsOnReload(indicator);
                this.setupClickChart();
            }

            changeChart(e) {
                let _chartOptions = e.target.chart
                this._setupChartOptions(_chartOptions);
                this.chart.off('click', null);
                this._styleIndicatorsOnChange(e.target);
                this.setupClickChart();
            }

            _setupChartOptions(_chartOptions) {
                if (_.isUndefined(_chartOptions) || _chartOptions.series.data.every(this._isValueNaN)) {
                    let noDataOption = this._setupNoDataChart();
                    this.chart.setOption(noDataOption, true);
                } else {
                    let chartOptions = Object.assign({}, _chartOptions, {
                        width: 'auto',
                        height: 'auto'
                    });
                    chartOptions.xAxis.name = this.localize('chart.xaxis.name')
                    this.chart.setOption(chartOptions, true);
                }
            }

            _setupNoDataChart() {
                let noDataOption = {
                    title: {
                        show: true,
                        textStyle: {
                            color: '#777D81',
                            fontSize: 20
                        },
                        text: this.localize('chart.nodata'),
                        left: 'center',
                        top: 'center'
                    },
                    xAxis: {
                        show: false
                    },
                    yAxis: {
                        show: false
                    },
                    series: []
                };
                return noDataOption;
            }

            _isValueNaN(currentValue) {
                return _.isNaN(currentValue.value);
            }

            _styleIndicatorsOnReload(indicator) {
                let elements = this.shadowRoot.querySelectorAll('indicator-wos');
                this._styleSmallerAndBigger(elements, indicator);
            }

            _styleIndicatorsOnChange(indicator) {
                let elements = this.shadowRoot.querySelectorAll('indicator-wos');
                if (indicator.style.fontSize == "110%") {
                    for (let i = 0; i < elements.length; i++) {
                        elements[i].style.fontSize = "100%";
                        elements[i].shadowRoot.querySelector('#progressBar').style.height = "5px";
                        elements[i].shadowRoot.querySelector('.widget-footer').style.fontWeight = "400";
                        elements[i].shadowRoot.querySelector('.widget-footer').style.color = "#777D81"
                        this.chart.clear();
                    }
                } else {
                    this._styleSmallerAndBigger(elements, indicator);
                }
            }

            _styleSmallerAndBigger(elements, indicator) {
                for (let i = 0; i < elements.length; i++) {
                    elements[i].style.fontSize = "80%";
                    elements[i].shadowRoot.querySelector('#progressBar').style.height = "5px";
                    elements[i].shadowRoot.querySelector('.widget-footer').style.fontWeight = "400";
                    elements[i].shadowRoot.querySelector('.widget-footer').style.color = "#777D81"
                    elements[i].style.height = "100%";
                }
                indicator.style.fontSize = "110%";
                indicator.shadowRoot.querySelector('#progressBar').style.height = "10px";
                indicator.shadowRoot.querySelector('.widget-footer').style.fontWeight = "700";
                indicator.shadowRoot.querySelector('.widget-footer').style.color = "#2A3539"
            }

            _resizeChart() {
                this._debouncedChartResize = Polymer.Debouncer.debounce(
                    this._debouncedChartResize,
                    Polymer.Async.timeOut.after(50),
                    () => {
                        if (this.height < 2 || this.width < 2) {
                            this.$.chartContainer.hidden = true;
                            if (this.height < 2) {
                                this.$.middle.classList.remove('middleColumn');
                                this.$.indicatorsLayout.classList.remove('indicatorsLayoutColumn');
                            } else {
                                this.$.middle.classList.add('middleColumn');
                                this.$.indicatorsLayout.classList.add('indicatorsLayoutColumn');
                            }
                        } else {
                            if(this.$.middle.classList.contains('middleColumn')) {
                                this.$.middle.classList.remove('middleColumn');
                                this.$.indicatorsLayout.classList.remove('indicatorsLayoutColumn');
                            }
                            this.$.chartContainer.hidden = false;
                            if (!this.chart) return;
                            this.chart.resize();
                        }

                    }
                );
            }

        }

        customElements.define(AbasProductionWosWidget.is, AbasProductionWosWidget);
    </script>
</dom-module>