<link rel="import" href="../../../polymer/polymer-element.html">
<link rel="import" href="../../../polymer/lib/elements/dom-if.html">
<link rel="import" href="../../../abas-localize-mixin/abas-localize-mixin.html">
<link rel="import" href="../../../paper-spinner/paper-spinner-lite.html">
<link rel="import" href="../abas-production-widgets-style/abas-production-widgets-style.html">
<link rel="import" href="../api/abas-production-widgets-api.html">
<link rel="import" href="../../../abas-widget-framework/abas-widget-framework.html">

<script src="../../../moment/moment.js"></script>

<dom-module id="indicator-wos">
    <template>
        <abas-config-meta data="{{_configuration}}"></abas-config-meta>
        <style include="abas-production-widgets-style">
            :host {
                --my-progress-bar-width: 0%;
                --my-threshold-bar-width: 0%;
                transition-property: font-size;
                transition-duration: 0.3s;
                cursor: pointer;
            }

            .zoom-spinner {
                zoom: 0.55;
            }

            .spinnerSmallWos {
                margin-left: 5px;
                display: flex;
                align-items: center;
            }

        </style>

        <div id="spinnerDiv" class="spinner">
            <paper-spinner-lite id="spinner" class="mountain-meadow" active></paper-spinner-lite>
        </div>
        <div id="checkSetupDiv" class="checkSetupDiv">
            [[localize('wos.settings.checkSetup')]]
        </div>

        <div id="progressBar" class="whole-progress-bar">
            <template is="dom-if" if="{{!overthreshold}}">
                <div id="partProgress" class="part-progress-bar-green"></div>
                <div id="thresholdBar" class="threshold-bar"></div>
            </template>
            <template is="dom-if" if="{{overthreshold}}">
                <div id="partProgress" class="part-progress-bar-red"></div>
                <div id="thresholdBar" class="threshold-bar"></div>
            </template>
        </div>

        <div id="text" class="text">
            <div class="numbers">
                <div class="indicator ">[[numberWos]]</div>
                <div class="separator "></div>
                <div class="thresholdDiv">[[allWos]]</div>
                <div id="spinnerDivSmall" class="spinnerSmallWos">
                    <paper-spinner-lite id="spinnerSmall" class="mountain-meadow zoom-spinner" inactive></paper-spinner-lite>
                </div>
            </div>

            <div class="widget-footer">
                <template is="dom-if" if="{{!dispatcher.id}}">
                    <div>[[localize('widget.dispatchers.all')]]</div>
                </template>
                <template is="dom-if" if="{{dispatcher.id}}">
                    [[dispatcher.sucherw]]
                </template>
            </div>
        </div>


    </template>

    <script>
        /**
         * `indicator-wos`
         * element to show the work order suggestions with the threshold and the dispatcher
         *
         * @customElement
         * @polymer
         * @demo demo/index.html
         */
        class IndicatorWos extends Polymer.AbasLocalizeMixin(Polymer.Element) {
            static get is() { return 'indicator-wos'; }
            static get properties() {
                return {
                    company: { type: Object },
                    dispatcher: { type: Object, },
                    overthreshold: { type: Boolean },
                    ratio: { type: String, notify: true },
                    numberWos: { type: Number },
                    startDate: { type: String },
                    startDateErp: { type: String },
                    endDate: { type: String },
                    endDateErp: { type: String },
                    chart: { type: Object, notify: true },
                    wos: { type: Array },
                    ratioUpdated: { type: Boolean, value: false, notify: true },
                    allWos: { type: Number },
                    _configuration: { type: Object },
                    refresh: { type: Boolean, notify: true }
                };
            }
            static get observers() {
                return [
                    '_fetchWorkOrderSuggestions(_configuration, company, dispatcher.id, startDateErp, endDateErp, startDate, endDate, refresh)',
                    '_setupIndicator(wos, dispatcher.threshold, allWos)',
                    '_ratioChanged(ratio)'
                ]
            }

            connectedCallback() {
                super.connectedCallback();
                this.loadResources(this.resolveUrl(this.importPath + '../../locales.json'));
            }

            disconnectedCallback() {
                super.disconnectedCallback();
            }

            _computeRatio(threshold, numberWos) {
                let _threshold = Number.parseInt(threshold, 10);
                return (_threshold === 0 ? 0 : Math.round((numberWos / _threshold) * 100));
            }

            _setupIndicator(wos, threshold, allWos) {
                if (wos == undefined || threshold == undefined || allWos == undefined) return;
                this.numberWos = wos.length;
                this.ratio = this._computeRatio(threshold, this.numberWos);
                this.set('overthreshold', this.ratio > 100);
                let delayedOfAll = allWos > 0 ? ((this.numberWos / allWos) * 100) : 0;
                let thresholdOfAll = allWos > 0 ? ((threshold / allWos) * 100) : 0;
                thresholdOfAll = thresholdOfAll > 100 ? 100 : thresholdOfAll;
                this.updateStyles({ '--my-progress-bar-width': `${delayedOfAll}%` });
                this.updateStyles({ '--my-threshold-bar-width': `${thresholdOfAll}%` });
            }

            _ratioChanged(ratio) {
                this.set('ratioUpdated', !this.ratioUpdated)
            }

            _fetchWorkOrderSuggestions(config, company, dispatcherID, startDateErp, endDateErp, startDate, endDate, refresh) {
                let baseUrl = _.get(config, 'api.erpBaseURL', undefined);
                if (!baseUrl || !company || dispatcherID == undefined) { 
                    this._showCheckSetup();
                    return 
                };
                this._activateSpinner();
                let options = {
                    erpBaseURL: baseUrl,
                    company: company,
                    dispatcherID: dispatcherID,
                    startDateErp: startDateErp,
                    endDateErp: "-1"
                }
                let optionsChart = {
                    erpBaseURL: baseUrl,
                    company: company,
                    dispatcherID: dispatcherID,
                    startDateErp: startDateErp,
                    endDateErp: endDateErp
                }

                AbasProductionWidgets.API.fetchWorkOrderSuggestions(options)
                    .then(workOrderSugg => {
                        this.set('wos', workOrderSugg)
                        return AbasProductionWidgets.API.fetchWorkOrderSuggestions(optionsChart)
                    }).then(workOrderSuggChart => {
                        this._setChart(workOrderSuggChart, startDate, endDate);
                        this._deactivateSpinner();
                    }).catch((error) => {
                        console.error(error)
                        this._showCheckSetup();
                    });
            }


            _setChart(workOrderSugg, startDate, endDate) {
                // specify chart configuration item and data
                let chartData = this._countWOS(workOrderSugg);

                let today = new Date().toISOString().slice(0, 10);

                let maxVal = 0;
                for (let key in chartData) {
                    if (chartData[key].count > maxVal) {
                        maxVal = chartData[key].count;
                    }
                };

                let max4Chart = Math.ceil(maxVal / 10) * 10;

                let title = this.dispatcher.id ? this.localize('wos.chart.title.with.dispatcher') + this.dispatcher.sucherw : this.localize('wos.chart.title.without.dispatcher')

                let data = [];
                let labelsAsDate = [];

                let dateFormatFnc = function (isoString) {
                    return new Date(isoString).toLocaleString(navigator.language, {
                            year: 'numeric',
                            month: '2-digit',
                            day: '2-digit'
                        });
                }

                chartData.forEach(item => {
                    if (item.count === 0) {
                        item.count = NaN;
                    }
                    if (item.tsterm == "Past") {
                        let date = moment().subtract(Math.abs(startDate), "days").format('L');
                        data.push({
                            value: item.count,
                            itemStyle: { color: item.color },
                            tsterm: "Past",
                            dispatcher: this.dispatcher.id,
                            tooltip: this.localize('chart.tooltip.past') + " " + dateFormatFnc(date) + ": " + item.count
                        });
                    } else if (item.tsterm == "Future") {
                        let date = moment().add(Math.abs(endDate), "days").format('L');
                        data.push({
                            value: item.count,
                            itemStyle: { color: item.color },
                            tsterm: "Future",
                            dispatcher: this.dispatcher.id,
                            tooltip: this.localize('chart.tooltip.future') + " " + dateFormatFnc(date) + ": " + item.count
                        });
                    } else {
                        data.push({
                            value: item.count,
                            itemStyle: { color: item.color },
                            tsterm: moment(item.tsterm, 'L').format('YYYY-MM-DD'),
                            dispatcher: this.dispatcher.id,
                            tooltip: dateFormatFnc(item.tsterm) + ": " + item.count
                        });
                    }
                    labelsAsDate.push(item.tsterm);
                });

                let labels = [];
                labelsAsDate.forEach(function (element) {
                    if (element === "Past" || element === "Future") {
                        element = "...";
                    } else {
                        let elementDay = moment(element, 'L');
                        let today = moment().startOf('day');
                        let difference = elementDay.diff(today, 'days')
                        element = difference;
                    }
                    labels.push(element);
                });


                let option = {
                    grid: {
                        show: false,
                        top: 15,
                        bottom: 20,
                        left: '5%',
                        right: '5%',
                        containLabel: true
                    },
                    title: {
                        text: title,
                        head: title,
                        show: false
                    },
                    tooltip: {
                        backgroundColor: "#2A3539"
                    },
                    xAxis: {
                        name: this.localize('chart.xaxis.name'),
                        nameLocation: 'center',
                        nameGap: 25,
                        type: 'category',
                        axisLabel: {
                            rotate: 0,
                            interval: 0,
                            color: "#2A3539",
                            fontSize: 11
                        },
                        data: labels,
                        axisLine: { lineStyle: { color: "#2A3539" } },
                        axisTick: { lineStyle: { color: "#2A3539" } }
                    },
                    yAxis: {
                        type: 'log',
                        axisLine: { lineStyle: { color: "#2A3539" } },
                        axisTick: { lineStyle: { color: "#2A3539" } },
                        axisLabel: { color: "#2A3539" },
                        splitLine: { show: false },
                        min: 1
                    },
                    series: {
                        type: "bar",
                        barMinHeight: '2',
                        barCategoryGap: '40%',
                        data: data,
                        tooltip: labelsAsDate
                    }
                };
                this.set('chart', option);

            }

            _countWOS(arrays) {
                var i, fertigungsvorschlag, count, result, entry;

                count = {};
                for (i = 0; i < arrays.length; i++) {
                    fertigungsvorschlag = arrays[i];
                    count[fertigungsvorschlag.tsterm] = (count[fertigungsvorschlag.tsterm] || 0) + 1;
                }

                result = [];
                for (entry in count) {
                    result.push({ tsterm: entry, count: count[entry] });
                }
                let end = moment().add(Math.abs(this.endDate), "days");
                let start = moment().subtract(Math.abs(this.startDate), "days");
                let workOrderSuggOut = [];
                let past = 0;
                let future = 0;
                result.forEach(item => {
                    let itemDate = moment(item.tsterm);
                    if (start <= itemDate && itemDate <= end) {
                        if (itemDate < moment().subtract(1, 'days')) {
                            item.color = "#E42346"
                        } else {
                            item.color = "#1BBBA3"
                        }
                        item.tsterm = itemDate.format('L');
                        workOrderSuggOut.push(item);
                    } else if (start > itemDate) {
                        past += item.count;
                    } else if (itemDate > end) {
                        future += item.count;
                    }

                });
                let wosOut = [
                    { count: past, tsterm: 'Past', color: '#EF7B90' },
                    ...workOrderSuggOut,
                    { count: future, tsterm: 'Future', color: '#D1EEE9' }
                ]
                this.set('allWos', this._countAllWos(wosOut));
                return wosOut;
            }

            _countAllWos(wosOut) {
                let allWos = 0;
                wosOut.forEach(function (element) {
                    allWos += element.count
                })
                return allWos;
            }

            _activateSpinner() {
                if(!this.allWos){
                    this.$.spinner.active = true;
                    this.$.spinnerDiv.hidden = false;
                    this.$.progressBar.hidden = true;
                    this.$.text.hidden = true;
                    this.$.checkSetupDiv.hidden = true;
                } else {
                    this.$.spinnerSmall.active = true;
                    this.$.spinnerDivSmall.hidden = false;
                }   
            }

            _deactivateSpinner() {
                if(this.$.text.hidden){
                    this.$.spinner.active = false;
                    this.$.spinnerDiv.hidden = true;
                    this.$.progressBar.hidden = false;
                    this.$.text.hidden = false;
                    this.$.checkSetupDiv.hidden = true;
                    this.$.spinnerSmall.active = false;
                    this.$.spinnerDivSmall.hidden = true;
                } else {
                    this.$.spinnerSmall.active = false;
                    this.$.spinnerDivSmall.hidden = true;    
                }
            }

            _showCheckSetup(){
                this.$.spinner.active = false;
                this.$.spinnerDiv.hidden = true;
                this.$.progressBar.hidden = true;
                this.$.text.hidden = true;
                this.$.checkSetupDiv.hidden = false;
                this.set('allWos', undefined)
                this.set('chart', undefined)
            }

        }

        window.customElements.define(IndicatorWos.is, IndicatorWos);
    </script>
</dom-module>