<link rel="import" href="../../polymer/polymer-element.html">
<link rel="import" href="../../abas-styles/abas-styles.html">
<link rel="import" href="../../paper-input/paper-input.html">
<link rel="import" href="../../paper-dropdown-menu/paper-dropdown-menu.html">
<link rel="import" href="../lib/api/abas-production-widgets-api.html">
<link rel="import" href="../../abas-config/abas-config-meta.html">
<link rel="import" href="../../abas-localize-mixin/abas-localize-mixin.html">
<link rel="import" href="../../abas-widget-framework/abas-widget-framework.html">
<link rel="import" href="../../abas-widget-behavior/abas-widget-behavior.html">

<dom-module id="abas-production-indicator-mcu-widget-settings">
    <template>
        <abas-config-meta data="{{_configuration}}"></abas-config-meta>
        <style include="abas-production-widgets-style">
            :host {
                display: block;
                background: var(--abas-black-800);
            }

            #divShowXaxisLabel {
                display: flex;
                margin-top: 8px;
            }
        </style>
        <div slot="general">

            <h3>[[localize('settings.title.general')]]</h3>
            <div class="widgetTitleInput">
                <ui-text-field label="[[localize('settings.title.text')]]" text="{{widgetTitle}}"></ui-text-field>
            </div>
            <ui-companyselector selected-company="{{selectedCompany}}"></ui-companyselector>
            <polling-input-with-elements polling="{{polling}}"></polling-input-with-elements>

            <h3>[[localize('settings.title.indicator')]]</h3>
            <div id="divThresholdInput" class="thresholdInputs">
                <ui-text-field input-type="Number" label="[[localize('settings.threshold.label')]]" text="{{threshold}}"></ui-text-field>
            </div>

            <div id="divDepartmentInput" class="flex-container">
                <ui-auto-complete class="flex-item" label="[[localize('settings.department.label')]]" items="[[_departments]]"
                    selected-item="{{department}}"></ui-auto-complete>
                <abas-function-button id="resetDepartment" hidden="[[!_showDeleteButtonDepartment]]" icon="times" on-tap="_resetDepartment"></abas-function-button>
            </div>

            <div id="divWorkcenterInput" class="flex-container">
                <ui-auto-complete class="flex-item" label="[[localize('mcu.workcenter.label')]]" items="[[_workcenters]]"
                    selected-item="{{workcenter}}"></ui-auto-complete>
                <abas-function-button id="resetWorkcenter" hidden="[[!_showDeleteButtonWorkcenter]]" icon="times" on-tap="_resetWorkcenter"></abas-function-button>
            </div>

            <div id="divWarehouseGroupInput" class="flex-container">
                <ui-auto-complete class="flex-item" label="[[localize('settings.warehousegroup.label')]]" items="[[_warehousegroups]]"
                    selected-item="{{warehousegroup}}"></ui-auto-complete>
            </div>

            <h3>[[localize('settings.title.period')]]</h3>
            <div id="divDateInputs" class="dateInputs">
                <ui-text-field class="flex-date" style="margin-right: 8px;" input-type="" label="[[localize('settings.startdateerp.label')]]" text="{{startDate}}"></ui-text-field>
                <ui-text-field class="flex-date" input-type="" label="[[localize('settings.enddateerp.label')]]" text="{{endDate}}"></ui-text-field>
            </div>

            <div id="divShowXaxisLabel">
                <ui-checkbox style="margin-right: 8px;" item-checked="{{showLabels}}" label="[[localize('mcu.settings.showLabels')]]"></ui-checkbox>
                <ui-checkbox item-checked="{{showPeriod}}" label="[[localize('mcu.settings.showPeriod')]]"></ui-checkbox>
            </div>

        </div>

    </template>
    <script>
        class AbasProductionIndicatorMcuWidgetSettings extends abasWidgets.CompanySettingsBehavior(Polymer.AbasLocalizeMixin(ABAS.AttributesBehavior(Polymer.Element))) {
            
            constructor() {
                super();
                this._boundApplySettings = this._applySettings.bind(this);
                this._boundRevertSettings = this._revertSettings.bind(this);
            }
            static get is() { return 'abas-production-indicator-mcu-widget-settings' }
            static get properties() {
                return {
                    company: { type: Object, notify: true },
                    baseURL: { type: String, notify: true },
                    threshold: { type: String, notify: true },
                    department: { type: Object, notify: true },
                    _departments: { type: Array, value: [] },
                    workcenter: { type: Object, notify: true },
                    _workcenters: { type: Array, value: [] },
                    warehousegroup: { type: Object, notify: true },
                    _warehousegroups: { type: Array, value: [] },
                    endDate: { type: String, notify: true },
                    startDate: { type: String, notify: true },
                    _configuration: { type: Object },
                    widgetTitle: { type: String, notify: true },
                    polling: { type: Object, notify: true },
                    showLabels: { type: Boolean, notify: true },
                    showPeriod: { type: Boolean, notify: true }
                }
            }

            static get observers() {
                return [
                    '_loadConfigurationData(_configuration, company, language)',
                    '_workcenterChanged(workcenter)',
                    '_departmentChanged(department)',
                    '_setPropertiesToSave(workcenter, threshold, widgetTitle, department, warehousegroup, endDate, startDate, polling)'
                ]
            }

            connectedCallback() {
                super.connectedCallback();
                this.loadResources(this.resolveUrl(this.importPath + '../locales.json'));
                window.addEventListener('settings-apply', this._boundApplySettings);
                window.addEventListener('settings-closed', this._boundRevertSettings);
                this._setPropertiesToSave(this.workcenter, this.threshold, this.widgetTitle, this.department, this.warehousegroup, this.endDate, this.startDate, this.polling);
                this.set('_propertiesOriginal', _.cloneDeep(this._propertiesToSave));
            }

            disconnectedCallback(){
                super.disconnectedCallback();
                window.removeEventListener('settings-apply', this._boundApplySettings);
                window.removeEventListener('settings-closed', this._boundRevertSettings);
            }

            _setPropertiesToSave(workcenter, threshold, widgetTitle, department, warehousegroup, endDate, startDate, polling){
                this._propertiesToSave = { workcenter, threshold, widgetTitle, department, warehousegroup, endDate, startDate, polling }
            }

            _loadConfigurationData(config, company, _language) {
                if (!config || !company) { return }
                if (typeof this.localize == 'function' && !this.widgetTitle) {
                    this.set('widgetTitle', this.localize("mcu.widget.title.text"));
                }
                this._loadDepartments(config.api.erpBaseURL, company);
                this._loadWorkcenters(config.api.erpBaseURL, company);
                this._loadWarehousegroups(config.api.erpBaseURL, company);
            }

            _loadDepartments(baseURL, company) {
                return AbasProductionWidgets.API.fetchDepartments({ erpBaseURL: baseURL, company: company })
                    .then(departments => {
                        this.set('_departments', departments)
                    })
                    .catch(error => {
                        this.set('_departments', [])
                    })
            }

            _loadWorkcenters(baseURL, company) {
                let headers = new Headers();
                headers.set('accept', 'application/abas.objects.simple+json');

                let criteria = "abtlg=;@ablage=(Active)";

                let fetchURL = new URL(`${baseURL}${company.href}/obj/data/8:2`);
                let fetchSearchParams = fetchURL.searchParams;
                fetchSearchParams.set('limit', '0');
                fetchSearchParams.set('criteria', criteria);
                fetchSearchParams.set('headFields', ["id", "such", "namebspr", "abtlg", "abtlg^name", "nummer", "sucherw"].join(","));

                return auth0Fetch(fetchURL.toString(), {
                    headers: headers
                }).then((resp) => {
                    if (resp.ok) {
                        return resp.json();
                    }
                    throw new Error(`This ain't work. Requesting middleware failed.`)
                }).then((mwResponse) => {
                    let erpDataObjects = _.get(mwResponse, 'erpDataObjects', []);
                    return erpDataObjects.map((erpDataObject) => {
                        // simplify access to the result
                        // the field object consists of value and text
                        return {
                            id: _.get(erpDataObject, 'head.id'),
                            nummer: _.get(erpDataObject, 'head.nummer'),
                            such: _.get(erpDataObject, 'head.such'),
                            sucherw: _.get(erpDataObject, 'head.sucherw'),
                            // for the element to display:
                            title: _.get(erpDataObject, 'head.nummer') + '  ' + _.get(erpDataObject, 'head.sucherw'),
                            description: _.get(erpDataObject, 'head.such')
                        }
                    });
                }).then(wc => {
                    this.set('_workcenters', wc)
                });
            }

            _loadWarehousegroups(baseURL, company) {
                let headers = new Headers();
                headers.set('accept', 'application/abas.objects.simple+json');

                let criteria = "such=;namebspr=;@ablage=(Active)";

                let fetchURL = new URL(`${baseURL}${company.href}/obj/data/39:2`);
                let fetchSearchParams = fetchURL.searchParams;
                fetchSearchParams.set('limit', '0');
                fetchSearchParams.set('criteria', criteria);
                fetchSearchParams.set('headFields', ["id", "such", "namebspr", "nummer", "sucherw"].join(","));

                return auth0Fetch(fetchURL.toString(), {
                    headers: headers
                }).then((resp) => {
                    if (resp.ok) {
                        return resp.json();
                    }
                    throw new Error(`This ain't work. Requesting middleware failed.`)
                }).then((mwResponse) => {
                    let erpDataObjects = _.get(mwResponse, 'erpDataObjects', []);
                    return erpDataObjects.map((erpDataObject) => {
                        // simplify access to the result
                        // the field object consists of value and text
                        return {
                            id: _.get(erpDataObject, 'head.id'),
                            nummer: _.get(erpDataObject, 'head.nummer'),
                            such: _.get(erpDataObject, 'head.such'),
                            sucherw: _.get(erpDataObject, 'head.sucherw'),
                            // for the element to display:
                            title: _.get(erpDataObject, 'head.nummer') + '  ' + _.get(erpDataObject, 'head.sucherw'),
                            description: _.get(erpDataObject, 'head.such')
                        }
                    });
                }).then(warehousegr => {
                    this.set('_warehousegroups', warehousegr)
                })
            }

            _resetDepartment() {
                var empty = { id: "", title: "", description: "" };
                this.set('department', empty);
            }

            _resetWorkcenter() {
                var empty = { id: "", title: "", description: "" };
                this.set('workcenter', empty);
            }

            _departmentChanged(department) {
                this.set('_showDeleteButtonDepartment', !_.isEmpty(department.id));
            }

            _workcenterChanged(workcenter) {
                this.set('_showDeleteButtonWorkcenter', !_.isEmpty(workcenter.id));
            }

            _applySettings() {
                if (this.id == event.detail.widgetID) {
                    this.threshold = (this.threshold === '' ? "0" : this.threshold);
                    let attributes = [];
                    for (let property in this._propertiesToSave) {
                        attributes.push({
                            name: property,
                            value: this._propertiesToSave[property]
                        });
                    }
                    this.fireAttributesUpdate(attributes);
                    this._propertiesOriginal = _.cloneDeep(this._propertiesToSave);
                }
            }

            _revertSettings() {
                if (this.id == event.detail.widgetID) {
                    for (let property in this._propertiesOriginal) {
                        this.set(`${property}`, this._propertiesOriginal[property])
                    }
                    this.set('_propertiesToSave', _.cloneDeep(this._propertiesOriginal));
                }
            }

        }
        customElements.define(AbasProductionIndicatorMcuWidgetSettings.is, AbasProductionIndicatorMcuWidgetSettings);
    </script>
</dom-module>