<link rel="import" href="../../polymer/polymer-element.html">
<link rel="import" href="../../polymer/lib/elements/dom-if.html">
<link rel="import" href="../../aba-widget/aba-widget.html">
<link rel="import" href="../../abas-widget-behavior/abas-widget-behavior.html">
<link rel="import" href="../lib/abas-production-widgets-style/abas-production-widgets-style.html">
<link rel="import" href="../../abas-widget-framework/abas-widget-framework.html">
<link rel="import" href="../../abas-config/abas-config-meta.html">
<link rel="import" href="../../paper-dropdown-menu/paper-dropdown-menu.html">
<link rel="import" href="../../paper-listbox/paper-listbox.html">
<link rel="import" href="../../paper-item/paper-item.html">
<link rel="import" href="../../paper-autocomplete/paper-autocomplete.html">
<link rel="import" href="../../paper-card/paper-card.html">
<link rel="import" href="../../paper-icon-button/paper-icon-button.html">
<link rel="import" href="../../aba-js-imports/echart-import.html">
<link rel="import" href="../../paper-spinner/paper-spinner-lite.html">
<link rel="import" href="../../aba-js-imports/lodash-import.html">
<link rel="import" href="settings.html">

<dom-module id="abas-production-indicator-mcu-widget">
    <template>
        <abas-config-meta data="{{_configuration}}"></abas-config-meta>

        <style include="abas-production-widgets-style">
            :host {
                    --my-gauge-chart-color-splitpoint1: var(--abas-froly);
                    --my-gauge-chart-color-splitpoint2: var(--abas-mountain-meadow);
                    --my-gauge-chart-color-splitpoint3: var(--abas-amaranth);
                }

                #main {
                    width: 100%;
                    height: 100%;
                }

                #mainChart {
                    width: 100%;
                    height: 100%;
                }
            </style>
        <aba-widget title="">
            <div slot="content">
                <!-- Widget content goes here! -->
                <div id="main">
                    <div id="mainHeader">
                        <div class="widgettitle">[[widgetTitle]]</div>
                    </div>

                    <hr />

                    <div id="spinnerDiv" class="spinner">
                        <paper-spinner-lite id="spinner" class="mountain-meadow" active></paper-spinner-lite>
                    </div>

                    <div id="checkSetupDiv" class="checkSetupDiv">
                        [[localize('settings.checkSetup')]]
                    </div>

                    <div id="mainChart"></div>

                    <div id="widgetFooter" class="widget-footer">
                        <div hidden="[[!showLabels]]">
                            <template is="dom-if" if="{{_nothingSelected(workcenter.id, department.id, warehousegroup.id)}}">
                                <div>[[localize('mcu.workcenter.label')]]: [[localize('mcu.widget.all')]]</div>
                                <div>[[localize('widget.department.label')]]: [[localize('mcu.widget.all')]]</div>
                                <div>[[localize('widget.warehousegroup.label')]]: [[localize('mcu.widget.all')]]</div>
                            </template>
    
                            <template is="dom-if" if="{{workcenter.id}}">
                                <div>[[localize('mcu.workcenter.label')]]: {{workcenter.sucherw}}</div>
                            </template>
                            <template is="dom-if" if="{{department.id}}">
                                <div>[[localize('widget.department.label')]]: {{department.sucherw}}</div>
                            </template>
                            <template is="dom-if" if="{{warehousegroup.id}}">
                                <div>[[localize('widget.warehousegroup.label')]]: {{warehousegroup.sucherw}}</div>
                            </template>
                        </div>
                        <div hidden="[[!showPeriod]]">[[periodStart]] - [[periodEnd]]</div>
                    </div>

                    <div id="spinnerDivSmall" class="spinnerSmall">
                        <paper-spinner-lite id="spinnerSmall" class="mountain-meadow" inactive></paper-spinner-lite>
                    </div>

                </div>
            </div>
            <div slot="settingsForm">
                <template is="dom-if" if="[[editMode]]">
                    <abas-production-indicator-mcu-widget-settings id="[[id]]" company={{company}} threshold="{{threshold}}"
                        warehousegroup="{{warehousegroup}}" department="{{department}}" workcenter="{{workcenter}}"
                        end-date="{{endDate}}" start-date="{{startDate}}" polling="{{polling}}" widget-title={{widgetTitle}} 
                        show-labels="{{showLabels}}" show-period="{{showPeriod}}">
                    </abas-production-indicator-mcu-widget-settings>
                </template>
            </div>
            <div slot="optionsMenu">
                <!-- Additonal settings menu items -->
            </div>
        </aba-widget>
    </template>

    <script>
        class AbasProductionIndicatorMcuWidget extends abasWidgets.PollingBehavior(abasWidgets.CompanyBehavior(ABAS.WidgetBehavior(Polymer.Element))) {
            constructor() {
                super();
                this._boundChartResize = this._resizeChart.bind(this);
            }
            static get is() { return 'abas-production-indicator-mcu-widget' }
            static get properties() {
                return {
                    threshold: { type: String, value: "50" },
                    capacities: { type: Array },
                    department: { type: Object, value: { id: "", title: "", description: "" } },
                    workcenter: { type: Object, value: { id: "", title: "", description: "" } },
                    warehousegroup: { type: Object, value: { id: "", title: "", description: "" } },
                    startDate: { type: String, value: "0" },
                    endDate: { type: String, value: "+7" },
                    chart: { type: Object },
                    chartData: { type: Array },
                    chartOptions: { type: Object },
                    _configuration: { type: String },
                    widgetTitle: { type: String },
                    showLabels: { type: Boolean, notify: true, value: true, observer: '_resizeChart'},
                    showPeriod: { type: Boolean, notify: true, value: true, observer: '_resizeChart'}
                };
            }

            static get observers() {
                return [
                    '_fetchInfosysKAPPLAN(_configuration, company, department.id, workcenter.id, warehousegroup.id, startDate, endDate, threshold, refresh)',
                    '_fireTitleChanged(widgetTitle)',
                    '_computeDays(startDate, endDate)',
                    '_setInternalWarehousegroup(_configuration, company, warehousegroup)'
                ];
            }
            //Add UI Listeners
            connectedCallback() {
                super.connectedCallback();
                window.addEventListener('resize', this._boundChartResize);
                //load translation
                this.loadResources(this.resolveUrl(this.importPath + '../locales.json'));
                // change to new property format
                this._changePropertyFormat();
                // init chart
                this.chart = echarts.init(this.$.mainChart);
                this._resizeChart();
            }

            disconnectedCallback() {
                super.disconnectedCallback();
                window.removeEventListener('resize', this._boundChartResize);
            }

            _changePropertyFormat(){
                if (_.has(this.department, "value")) {
                    let newDepartment = {};
                    newDepartment.id = this.department.value;
                    newDepartment.sucherw = this.department.text;
                    newDepartment.title = this.department.text;
                    this.set('department', newDepartment)
                    this.fireAttributesUpdate([
                        {
                            name: 'department',
                            value: newDepartment
                        }]);
                }
                if (_.has(this.workcenter, "value")) {
                    let newWorkcenter = {};
                    newWorkcenter.id = this.workcenter.value;
                    newWorkcenter.sucherw = this.workcenter.text;
                    newWorkcenter.title = this.workcenter.text;
                    this.set('workcenter', newWorkcenter)
                    this.fireAttributesUpdate([
                        {
                            name: 'workcenter',
                            value: newWorkcenter
                        }]);
                }
                if (_.has(this.warehousegroup, "value")) {
                    let newWarehousegroup = {};
                    newWarehousegroup.id = this.warehousegroup.value;
                    newWarehousegroup.sucherw = this.warehousegroup.text;
                    newWarehousegroup.title = this.warehousegroup.text;
                    this.set('warehousegroup', newWarehousegroup)
                    this.fireAttributesUpdate([
                        {
                            name: 'warehousegroup',
                            value: newWarehousegroup
                        }]);
                }
            }

            _nothingSelected(workcenter, department, warehousegroup) {
                return (!workcenter && !department && !warehousegroup)

            }

            _resizeChart() {
                this.shadowRoot.querySelector("#widgetFooter").classList.toggle("zoom-footer", this.height < 7 && this.width < 6);
                this.shadowRoot.querySelector("#mainHeader").classList.toggle("zoom-title", this.height < 7 && this.width < 6);
                //height of horizontal line = height (1px) + margin-top(5px) + margin-bottom (5px) = 11px
                let heightOfHorizontalLineWithMargin = 11;
                this.$.mainChart.style.height = (this.$.main.clientHeight - this.$.mainHeader.clientHeight - this.$.widgetFooter.clientHeight - heightOfHorizontalLineWithMargin) + "px";
                this._setChart(this.capacities);
                this._debouncedChartResize = Polymer.Debouncer.debounce(
                    this._debouncedChartResize,
                    Polymer.Async.timeOut.after(50),
                    () => {
                        if (!this.chart) return;
                        this.chart.resize();
                    }
                );
            }

            _fetchInfosysKAPPLAN(config, company, departmentID, workcenterID, warehousegroupID, startDate, endDate, threshold, refresh) {
                if (_.isUndefined(company) || company.id === undefined || _.isUndefined(config || _.isUndefined(departmentID) || _.isUndefined(workcenterID) || _.isUndefined(warehousegroupID))) {
                    this._showCheckSetup();
                    return;
                }    
                
                this._activateSpinner();

                this._fetchDataDebouncer = Polymer.Debouncer.debounce(
                    this._fetchDataDebouncer,
                    Polymer.Async.timeOut.after(50),
                    () => {
                        this.fetchInfosysKAPPLAN(config.api.erpBaseURL, company, departmentID, workcenterID, warehousegroupID, startDate, endDate)
                            .then(cap => {
                                this.set('capacities', cap);
                                this._setChart(this.capacities);
                                this._resizeChart();
                            }).catch((error) => {
                                console.error(error)
                                this._showCheckSetup();
                            });
                    })
            }


            fetchInfosysKAPPLAN(baseURL, company, departmentID, workcenterID, warehousegroupID, startDate, endDate) {
                let adatum = this._checkDate(startDate);
                let edatum = this._checkDate(endDate);

                let headers = new Headers();
                headers.set('accept', 'application/abas.objects.simple+json');
                headers.set('content-type', 'application/json');
                let actions = {
                    "actions": [
                        {
                            "_type": "SetFieldValue",
                            "fieldName": "lgruppe",
                            "value": warehousegroupID
                        }, {
                            "_type": "SetFieldValue",
                            "fieldName": "kmgr",
                            "value": workcenterID
                        }, {
                            "_type": "SetFieldValue",
                            "fieldName": "abtlg",
                            "value": departmentID
                        }, {
                            "_type": "SetFieldValue",
                            "fieldName": "artikel",
                            "value": ""
                        }, {
                            "_type": "SetFieldValue",
                            "fieldName": "adatum",
                            "value": adatum
                        }, {
                            "_type": "SetFieldValue",
                            "fieldName": "edatum",
                            "value": edatum
                        }, {
                            "_type": "SetFieldValue",
                            "fieldName": "bstart",
                            "value": "1"
                        }
                    ],
                    "tableFields": "mgr, tabtlg, kapaz, belegung"
                }

                return auth0Fetch(`${baseURL}${company.href}/infosys/data/fe/KAPPLAN`, {
                    method: 'POST',
                    headers: headers,
                    body: JSON.stringify(actions)
                }).then((resp) => {
                    if (resp.ok) {
                        return resp.json();
                    }
                    throw new Error(`This ain't work. Requesting middleware failed.`)
                }).then((mwResponse) => {
                    let capacities = _.get(mwResponse, 'table');
                    if (!capacities) {
                        //console.log('No capacities existing');
                        return []
                    }
                    return capacities.map((datarow) => {
                        // simplify access to the result
                        // the field object consists of value and text
                        return {
                            workcenter: _.get(datarow, 'mgr'),
                            department: _.get(datarow, 'tabtlg'),
                            capacity: _.get(datarow, 'kapaz'),
                            demand: _.get(datarow, 'belegung'),
                        }
                    });
                })
            }

            _setInternalWarehousegroup(config, company, warehousegroup) {
                if(warehousegroup && !_.isEmpty(warehousegroup.id)) return;
                if(!config || !company) return;
                

                let baseURL = config.api.erpBaseURL
                let headers = new Headers();
                headers.set('accept', 'application/abas.objects.simple+json');

                let criteria = "such=;namebspr=;@ablage=(Active)";

                let fetchURL = new URL(`${baseURL}${company.href}/obj/data/39:2`);
                let fetchSearchParams = fetchURL.searchParams;
                fetchSearchParams.set('limit', '0');
                fetchSearchParams.set('criteria', criteria);
                fetchSearchParams.set('headFields', ["id", "such", "namebspr", "nummer", "sucherw"].join(","));

                return auth0Fetch(fetchURL.toString(), {
                    headers: headers
                }).then((resp) => {
                    if (resp.ok) {
                        return resp.json();
                    }
                    throw new Error(`This ain't work. Requesting middleware failed.`)
                }).then((mwResponse) => {
                    let erpDataObjects = _.get(mwResponse, 'erpDataObjects', []);
                    return erpDataObjects.map((erpDataObject) => {
                        // simplify access to the result
                        // the field object consists of value and text
                        return {
                            id: _.get(erpDataObject, 'head.id'),
                            nummer: _.get(erpDataObject, 'head.nummer'),
                            such: _.get(erpDataObject, 'head.such'),
                            sucherw: _.get(erpDataObject, 'head.sucherw'),
                            // for the element to display:
                            title: _.get(erpDataObject, 'head.nummer') + '  ' + _.get(erpDataObject, 'head.sucherw'),
                            description: _.get(erpDataObject, 'head.such')
                        }
                    });
                }).then(warehousegr => {
                    warehousegr.forEach((element) => {
                        //internal warehouse group has (hopefully everytime) nummer=1
                        //if no element equals 1, take the first warehousegroup    
                        if(element.nummer === "1"){
                            this.set('warehousegroup', element)
                            return;
                        }
                    });
                    this.set('warehousegroup', warehousegr[0])
                })
            }

            _setChart(cap) {
                if (cap == undefined) return;
                this._computeChartData(cap);
                let operatingGradeInPercentage = this.chartData.find(x => x.name === 'operatingGradeInPercentage')
                let heightForMinimizing = "220";
                let max = this._computeMaximum(operatingGradeInPercentage);
                let styling = this._computeStyling(max, heightForMinimizing);

                let splitpointOneHundredPercent = 100 / max;
                let splitpointLow = splitpointOneHundredPercent * (this.threshold / 100);
                let froly = getComputedStyle(this).getPropertyValue('--my-gauge-chart-color-splitpoint1');
                let mountainMeadow = getComputedStyle(this).getPropertyValue('--my-gauge-chart-color-splitpoint2');
                let amaranth = getComputedStyle(this).getPropertyValue('--my-gauge-chart-color-splitpoint3');

                let option = {
                    grid: {
                        show: true,
                        borderWidth: 0,
                        containLabel: true
                    },
                    title: {
                        show: false
                    },
                    tooltip: {
                        formatter: "{c}%"
                    },
                    series: [{
                        type: 'gauge',
                        startAngle: 210,
                        endAngle: -30,
                        radius: '100%',
                        center: ['50%', '60%'],
                        animationDurationUpdate: 1500,
                        splitNumber: styling.splitNumber,
                        splitLine: {
                            length: styling.splitLineLength
                        },
                        max: max,
                        data: [operatingGradeInPercentage.value],
                        detail: {
                            formatter: '{value}%',
                            fontSize: styling.detailFontSize,
                            offsetCenter: [0, '60%']
                        },
                        axisLabel: {
                            formatter: function (value) {
                                return value.toFixed(0) + '%';
                            },
                            fontSize: styling.labelFontSize
                        },
                        axisLine: {
                            lineStyle: {
                                color: [[splitpointLow, froly], [splitpointOneHundredPercent, mountainMeadow], [1.0, amaranth]],
                                width: styling.axisLineWidth
                            }
                        },
                        pointer: {
                            length: styling.pointerLength,
                            width: styling.pointerWidth
                        }
                    }]
                };
                this.set('chartOptions', option);
                this.chart.clear();
                this._deactivateSpinner();
                this.chart.setOption(this.chartOptions, true);
            }

            _computeChartData(cap) {
                let sumCap = 0;
                let sumDemand = 0;
                for (let i = 0; i < cap.length; i++) {
                    sumCap = sumCap + cap[i].capacity;
                    sumDemand = sumDemand + cap[i].demand;
                }

                let operatingGradeInPercentage = (sumDemand != 0 && sumCap != 0) ? ((sumDemand / sumCap) * 100).toFixed(2) : "0";

                let result = [
                    { name: 'capacity', value: sumCap },
                    { name: 'demand', value: sumDemand },
                    { name: 'operatingGradeInPercentage', value: operatingGradeInPercentage }
                ];

                this.set('chartData', result);
            }

            _computeMaximum(operatingGradeInPercentage) {
                if (operatingGradeInPercentage.value > 100) {
                    let i = parseInt(operatingGradeInPercentage.value / 100)
                    let newMax = (i + 1) * 100
                    return newMax;
                } else {
                    return 150;
                }
            }

            _computeSplitNumber(max, heightForMinimizing) {
                let height = this.$.mainChart.style.height.replace("px", "");
                if (max > 150 && height > heightForMinimizing) {
                    switch (max) {
                        case 200: case 400: case 800:
                            return "8";
                        case 300: case 600:
                            return "6";
                        case 500:
                            return "5";
                        case 700:
                            return "7";
                        case 900:
                            return "9";
                        default:
                            return "10";
                    }
                } else if (max > 150 && height < heightForMinimizing) {
                    switch (max) {
                        case 200: case 400: case 800:
                            return "4";
                        case 300: case 600:
                            return "6";
                        case 500:
                            return "5";
                        case 700:
                            return "7";
                        case 900:
                            return "9";
                        default:
                            return "5";
                    }
                } else {
                    return "6";
                }
            }

            _computeStyling(max, heightForMinimizing) {
                let styling = {};
                let height = this.$.mainChart.style.height.replace("px", "");
                if (height < heightForMinimizing) {
                    styling.pointerWidth = "3";
                    styling.pointerLength = "65%";
                    styling.splitNumber = this._computeSplitNumber(max, heightForMinimizing);
                    styling.detailFontSize = "16";
                    styling.labelFontSize = "10";
                    styling.axisLineWidth = "12";
                    styling.splitLineLength = "12";
                } else {
                    styling.pointerWidth = "9";
                    styling.pointerLength = "70%";
                    styling.splitNumber = this._computeSplitNumber(max, heightForMinimizing);
                    styling.detailFontSize = "32";
                    styling.labelFontSize = "14";
                    styling.axisLineWidth = "20";
                    styling.splitLineLength = "20";
                }
                return styling;
            }

            _checkDate(date) {
                if (date == "0") {
                    return "."
                } else if (date.startsWith('+') || date.startsWith('-')) {
                    return date;
                } else {
                    return '+' + date;
                }
            }

            _computeDays(startDate, endDate) {
                if(!startDate || !endDate) return;
                let today = new Date();
                let periodStart = new Date().setDate(today.getDate()+parseInt(startDate));
                this.set('periodStart', new Date(periodStart).toLocaleString(navigator.language, { year: 'numeric', month: '2-digit', day: '2-digit' }))
                let periodEnd = new Date().setDate(today.getDate()+parseInt(endDate));
                this.set('periodEnd', new Date(periodEnd).toLocaleString(navigator.language, { year: 'numeric', month: '2-digit', day: '2-digit' }))
            }

            _activateSpinner() {
                if(!this.capacities){
                    this.$.spinner.active = true;
                    this.$.spinnerDiv.hidden = false;
                    this.$.mainChart.hidden = true;
                    this.$.checkSetupDiv.hidden = true;
                } else {
                    this.$.spinnerSmall.active = true;
                    this.$.spinnerDivSmall.hidden = false;
                }   
            }

            _deactivateSpinner() {
                if(this.$.mainChart.hidden){
                    this.$.spinner.active = false;
                    this.$.spinnerDiv.hidden = true;
                    this.$.mainChart.hidden = false;
                    this.$.checkSetupDiv.hidden = true;
                    this.$.widgetFooter.hidden = false;
                    this.$.spinnerSmall.active = false;
                    this.$.spinnerDivSmall.hidden = true;
                } else {
                    this.$.spinnerSmall.active = false;
                    this.$.spinnerDivSmall.hidden = true;
                    this.$.widgetFooter.hidden = false;    
                }
            }

            _showCheckSetup(){
                this.$.spinner.active = false;
                this.$.spinnerDiv.hidden = true;
                this.$.mainChart.hidden = true;
                this.$.checkSetupDiv.hidden = false;
                this.$.widgetFooter.hidden = true;
                this.$.spinnerSmall.active = false;
                this.$.spinnerDivSmall.hidden = true;
                this.set('capacities', undefined)
            }

            _fireTitleChanged() {
                this.fireAttributesUpdate([{
                    name: 'widgetTitle',
                    value: this.widgetTitle
                }]);
            }
        }
        customElements.define(AbasProductionIndicatorMcuWidget.is, AbasProductionIndicatorMcuWidget);
    </script>
</dom-module>