<link rel="import" href="../../polymer/polymer-element.html">
<link rel="import" href="../../abas-styles/abas-styles.html">
<link rel="import" href="../../paper-input/paper-input.html">
<link rel="import" href="../../paper-dropdown-menu/paper-dropdown-menu.html">
<link rel="import" href="../lib/api/abas-production-widgets-api.html">
<link rel="import" href="../../abas-widget-framework/abas-widget-framework.html">
<link rel="import" href="../../abas-config/abas-config-meta.html">
<link rel="import" href="../../abas-widget-framework/abas-widget-framework.html">
<link rel="import" href="../../abas-widget-behavior/abas-widget-behavior.html">

<dom-module id="abas-production-indicator-srate-widget-settings">
    <template>
        <abas-config-meta data="{{_configuration}}"></abas-config-meta>
        <style include="abas-production-widgets-style">
            :host {
                display: block;
                background: var(--abas-black-800);
            }

            .dateInput {
                width: 150px;
            }

            .srateThresholdInput {
                max-width: 600px;
            }
        </style>
        <div slot="general">

            <h3>[[localize('settings.title.general')]]</h3>
            <div class="widgetTitleInput">
                <ui-text-field label="[[localize('settings.title.text')]]" text="{{widgetTitle}}"></ui-text-field>
            </div>
            <ui-companyselector selected-company="{{selectedCompany}}"></ui-companyselector>
            <polling-input-with-elements polling="{{polling}}"></polling-input-with-elements>
    
            <h3>[[localize('settings.title.indicator')]]</h3>

            <div id="divDepartmentInput" class="flex-container">
                <ui-auto-complete class="flex-item" label="[[localize('settings.department.label')]]" items="[[_departments]]"
                    selected-item="{{department}}"></ui-auto-complete>
                <abas-function-button id="resetDepartment" hidden="[[!_showDeleteButtonDepartment]]" icon="times" on-tap="_resetDepartment"></abas-function-button>
            </div>

            <div id="divFromDateInput" class="dateInput">
                <ui-text-field class="flex-date" input-type="Number" label="[[localize('srate.settings.fromdate.label')]]" text="{{fromDate}}"></ui-text-field>
            </div>

            <div id="divThresholdSrateInput" class="srateThresholdInput">
                <ui-text-field input-type="Number" label="[[localize('srate.settings.thresholdSrate.label')]]" text="{{thresholdSrate}}"></ui-text-field>
            </div>

            <div id="divThresholdWorkCentersInput" class="srateThresholdInput">
                <ui-text-field input-type="Number" label="[[localize('srate.settings.thresholdWorkCenters.label')]]" text="{{thresholdWorkCenters}}"></ui-text-field>
            </div>

            <h3>[[localize('settings.title.chart')]]</h3>
            <div id="divShowXaxisLabel">
                <ui-checkbox item-checked="{{showXaxisLabel}}" label="[[localize('srate.settings.showXaxisLabel')]]"></ui-checkbox>
            </div>

            <h3>[[localize('settings.title.messagebus')]]</h3>
            <div class="messageBusInput" >
                <ui-text-field label="[[localize('settings.title.messagebus')]]" text="{{messageChannel}}"></ui-text-field>
            </div>
        </div>
    </template>
    <script>
        
        class AbasProductionIndicatorSrateWidgetSettings extends abasWidgets.CompanySettingsBehavior(Polymer.AbasLocalizeMixin(ABAS.AttributesBehavior(Polymer.Element))) {
            
            constructor() {
                super();
                this._boundApplySettings = this._applySettings.bind(this);
                this._boundRevertSettings = this._revertSettings.bind(this);
            }
            static get is() { return 'abas-production-indicator-srate-widget-settings' }
            static get properties() {
                return {
                    company: { type: Object, notify: true },
                    baseURL: { type: String, notify: true },
                    messageChannel: { type: String, notify: true },
                    department: { type: Object, notify: true, value: { id: "", title: "", description: "" } },
                    _departments: { type: Array, value: [] },
                    fromDate: { type: Object, notify: true, value: "-100" },
                    thresholdSrate: { type: String, notify: true, value: "5"},
                    thresholdWorkCenters: { type: String, notify: true, value: "2"},
                    widgetTitle: { type: String, notify: true },
                    polling: { type: Object, notify: true },
                    showXaxisLabel: { type: Boolean, value: false, notify: true}
                }
            }

            static get observers () {
                return [
                    '_configurationChanged(_configuration.api.erpBaseURL, company)',
                    '_departmentChanged(department)',
                    '_setPropertiesToSave(messageChannel, thresholdSrate, thresholdWorkCenters, widgetTitle, department, fromDate, showXaxisLabel, polling)'
                ]
            }

            connectedCallback() {
                super.connectedCallback();
                this.loadResources(this.resolveUrl(this.importPath + '../locales.json'));
                window.addEventListener('settings-apply', this._boundApplySettings);
                window.addEventListener('settings-closed', this._boundRevertSettings);
                this._setPropertiesToSave(this.messageChannel, this.thresholdSrate, this.thresholdWorkCenters, this.widgetTitle, this.department, this.fromDate, this.showXaxisLabel, this.polling);
                this.set('_propertiesOriginal', _.cloneDeep(this._propertiesToSave));
            }

            disconnectedCallback(){
                super.disconnectedCallback();
                window.removeEventListener('settings-apply', this._boundApplySettings);
                window.removeEventListener('settings-closed', this._boundRevertSettings);
            }

            _setPropertiesToSave(messageChannel, thresholdSrate, thresholdWorkCenters, widgetTitle, department, fromDate, showXaxisLabel, polling){
                this._propertiesToSave = { messageChannel, thresholdSrate, thresholdWorkCenters, widgetTitle, department, fromDate, showXaxisLabel, polling }
            }

            _configurationChanged(erpBaseURL, company) {
                if (this._bu == erpBaseURL && this._com == company) return;
                if (typeof this.localize == 'function' && !this.widgetTitle) {
                    this.set('widgetTitle', this.localize("srate.widget.title.text"));
                }
                this._bu = erpBaseURL;
                this._com = company;

                if (erpBaseURL) {
                    // set baseURL
                    this.set('baseURL', erpBaseURL);
                    // load employees
                    if (company) {
                        this._loadDepartments(erpBaseURL, company);
                    }
                }
            }

            _loadDepartments(baseURL, company) {
                return AbasProductionWidgets.API.fetchDepartments({ erpBaseURL: baseURL, company: company })
                    .then(departments => {
                        this.set('_departments', departments)
                    })
                    .catch(error => {
                        this.set('_departments', [])
                    })
            }

            _resetDepartment() {
                let empty = {id: "", title: "", description: ""};
                this.set('department', empty);
            }

            _departmentChanged(department) {
                this.set('_showDeleteButtonDepartment', !_.isEmpty(department.id));
            }

            _applySettings() {
                if (this.id == event.detail.widgetID) {
                    this.thresholdSrate = (this.thresholdSrate === '' ? "0" : this.thresholdSrate);
                    this.thresholdWorkCenters = (this.thresholdWorkCenters === '' ? "0" : this.thresholdWorkCenters);
                    let attributes = [];
                    for (let property in this._propertiesToSave) {
                        attributes.push({
                            name: property,
                            value: this._propertiesToSave[property]
                        });
                    }
                    this.fireAttributesUpdate(attributes);
                    this._propertiesOriginal = _.cloneDeep(this._propertiesToSave);
                }
            }

            _revertSettings() {
                if (this.id == event.detail.widgetID) {
                    for (let property in this._propertiesOriginal) {
                        this.set(`${property}`, this._propertiesOriginal[property])
                    }
                    this.set('_propertiesToSave', _.cloneDeep(this._propertiesOriginal));
                }
            }

        }
        customElements.define(AbasProductionIndicatorSrateWidgetSettings.is, AbasProductionIndicatorSrateWidgetSettings);
    </script>
</dom-module>