<link rel="import" href="../../polymer/polymer-element.html">
<link rel="import" href="../../polymer/lib/elements/dom-if.html">
<link rel="import" href="../../aba-widget/aba-widget.html">
<link rel="import" href="../../abas-widget-behavior/abas-widget-behavior.html">
<link rel="import" href="../lib/abas-production-widgets-style/abas-production-widgets-style.html">
<link rel="import" href="../../abas-config/abas-config-meta.html">
<link rel="import" href="../../paper-dropdown-menu/paper-dropdown-menu.html">
<link rel="import" href="../../paper-listbox/paper-listbox.html">
<link rel="import" href="../../paper-item/paper-item.html">
<link rel="import" href="../../paper-autocomplete/paper-autocomplete.html">
<link rel="import" href="../../paper-card/paper-card.html">
<link rel="import" href="../../paper-icon-button/paper-icon-button.html">
<link rel="import" href="../../paper-spinner/paper-spinner-lite.html">
<link rel="import" href="../../abas-widget-framework/abas-widget-framework.html">
<link rel="import" href="../../aba-js-imports/lodash-import.html">
<link rel="import" href="../lib/api/abas-production-widgets-api.html">
<link rel="import" href="settings.html">
<dom-module id="abas-production-indicator-srate-widget">
    <template>
        <abas-config-meta data="{{_configuration}}"></abas-config-meta>
        <style include="abas-production-widgets-style">
            :host {
                --my-progress-bar-width: 0%;
                --my-threshold-bar-width: 0%;
            }
        </style>

        <aba-widget title="">
            <div slot="content" id="contentDiv">
                <!-- Widget content goes here! -->
                <div class="widgettitle">[[widgetTitle]]</div>
                <div class="circle"></div>

                <hr />
                <div class=indicatorContainer>
                    <div class=innerLayout>
                        <div id="spinnerDiv" class="spinner">
                            <paper-spinner-lite id="spinner" class="mountain-meadow" active></paper-spinner-lite>
                        </div>

                        <div id="checkSetupDiv" class="checkSetupDiv">
                            [[localize('settings.checkSetup')]]
                        </div>

                        <div id="progressBar" class="whole-progress-bar">
                            <template is="dom-if" if="{{!overthreshold}}">
                                <div id="partProgress" class="part-progress-bar-green"></div>
                                <div id="thresholdBar" class="threshold-bar"></div>
                            </template>
                            <template is="dom-if" if="{{overthreshold}}">
                                <div id="partProgress" class="part-progress-bar-red"></div>
                                <div id="thresholdBar" class="threshold-bar"></div>
                            </template>
                        </div>

                        <div id="text" class="text">
                            <div class="numbers">
                                <div id="indicator" class="indicator">[[criticalWorkCenters]]</div>
                                <div class="separator"></div>
                                <div class="thresholdDiv">[[allWc]]</div>
                            </div>

                            <div class="widget-footer">
                                <template is="dom-if" if="{{_oneWorkCenter(criticalWorkCenters)}}">
                                    <div> [[localize('srate.widget.description.one')]] > {{thresholdSrate}} % </div>
                                </template>

                                <template is="dom-if" if="{{!_oneWorkCenter(criticalWorkCenters)}}">
                                    <div> [[localize('srate.widget.description.all')]] > {{thresholdSrate}} % </div>
                                </template>


                                <template is="dom-if" if="{{!department.sucherw}}">
                                    <div> [[localize('srate.widget.department.all')]]</div>
                                </template>

                                <template is="dom-if" if="{{department.sucherw}}">
                                    <div> {{department.sucherw}}</div>
                                </template>
                            </div>

                            <div id="spinnerDivSmall" class="spinnerSmall">
                                <paper-spinner-lite id="spinnerSmall" class="mountain-meadow" inactive></paper-spinner-lite>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div slot="settingsForm">

                <abas-production-indicator-srate-widget-settings id="[[id]]" base-U-R-L={{baseURL}} company={{company}}
                    message-channel="{{messageChannel}}" department="{{department}}" from-date="{{fromDate}}"
                    threshold-srate="{{thresholdSrate}}" threshold-work-centers="{{thresholdWorkCenters}}" polling="{{polling}}"
                    widget-title={{widgetTitle}} show-xaxis-label="{{showXaxisLabel}}">
                </abas-production-indicator-srate-widget-settings>

            </div>
            <div slot="optionsMenu">
                <!-- Additonal settings menu items -->
            </div>
        </aba-widget>
    </template>

    <script>

        class AbasProductionIndicatorSrateWidget extends abasWidgets.PollingBehavior(abasWidgets.CompanyBehavior(ABAS.WidgetBehavior(Polymer.Element))) {
            constructor() {
                super();
                this._boundIndicatorResize = this._resizeIndicator.bind(this);
            }
            static get is() { return 'abas-production-indicator-srate-widget' }
            static get properties() {
                return {
                    baseURL: { type: String },
                    _configuration: { type: Object },
                    messageChannel: { type: String, observer: '_changeMessageChannel', value: "default" },
                    department: { type: Object },
                    fromDate: { type: String },
                    thresholdSrate: { type: String },
                    chart: { type: Object },
                    thresholdWorkCenters: { type: String },
                    criticalWorkCenters: { type: String },
                    widgetData: { type: Array },
                    detailErpURL: { type: String },
                    ratio: { type: String, notify: true },
                    overthreshold: { type: Boolean },
                    ratioUpdated: { type: Boolean, value: false, notify: true },
                    allWc: { type: Number },
                    widgetTitle: { type: String },
                    showXaxisLabel: { type: Boolean, value: false, notify: true}
                };
            }
            static get observers() {
                return [
                    '_settingsChanged(baseURL, company, department, fromDate, thresholdSrate, refresh)',
                    '_setupIndicator(allWc, thresholdWorkCenters, criticalWorkCenters)',
                    '_ratioChanged(ratio)',
                    '_fireTitleChanged(widgetTitle)'
                ];
            }
            //Add UI Listeners
            connectedCallback() {
                super.connectedCallback();
                // load translation
                this.loadResources(this.resolveUrl(this.importPath + '../locales.json'));
                // listener: resizing
                window.addEventListener('resize', this._boundIndicatorResize);
                // initial resize
                this._resizeIndicator();
                // listener: clickable indicator
                this.addEventListener('click', this._postChartDataOnClick);
                // initial bus color
                this._postAskForColor();
                // change to new property format
                this._changePropertyFormat();
            }

            disconnectedCallback() {
                super.disconnectedCallback();
                // listener: resizing
                window.removeEventListener('resize', this._boundIndicatorResize);
                // listener: clickable indicator
                this.removeEventListener('click', this._postChartDataOnClick);
                // message bus
                this.unsubscribeTopics();
            }

            _changePropertyFormat(){
                if (_.has(this.department, "value")) {
                    let newDepartment = {};
                    newDepartment.id = this.department.value;
                    newDepartment.sucherw = this.department.text;
                    newDepartment.title = this.department.text;
                    this.set('department', newDepartment)
                    this.fireAttributesUpdate([
                        {
                            name: 'department',
                            value: newDepartment
                        }]);
                }
            }

            _fireTitleChanged() {
                this.fireAttributesUpdate([{
                    name: 'widgetTitle',
                    value: this.widgetTitle
                }]);
            }

            /*
             * Message Bus
             */
            // subscribe to channel
            _changeMessageChannel(messageChannel) {
                // update messageChannel
                this.messageChannel = messageChannel ? messageChannel : 'default'
                // resubscribe
                this.unsubscribeTopics();
                this.subscribeTopics({
                    channel: messageChannel,
                    topics: ['busColor', 'chartClick', 'detailClick'],
                    handler: (data, envelope) => { this._incomingMessage(data, envelope) }
                })
            }
            _incomingMessage(data, envelope) {
                // Don't handle own messages
                if (this.id == _.get(data, 'detail.sender.id')) {
                    return;
                }

                // Handle MessageBus color
                if (_.get(data, 'detail.sender.type') != "indicator" && _.get(data, 'detail.busColor') != undefined) {
                    this._changeColor(data);
                    return;
                }

                // Message is not for me!
                if (this.id != data.detail.recipient) {
                    return;
                }

                // case: incoming click event
                if (_.get(data, 'detail.clickEvent') != undefined) {
                    let clickedItem = data.detail.clickEvent;
                    // chart
                    if (_.get(data, 'detail.sender.type') == "chart") {
                        this._postDetailData(clickedItem);
                        return;
                    }
                    // detail table
                    if (_.get(data, 'detail.sender.type') == "table") {
                        let _detailTableURL = this.detailErpURL.replace(/\(placeholder\)/g, clickedItem);
                        const target = AbasProductionWidgets.API.getURLTarget({ configuration: this._configuration, navigator: navigator })
                        window.open(_detailTableURL, target);
                        return;
                    }
                }
            }
            // Message bus: change color
            _changeColor(data) {
                let busColor = _.get(data, 'detail.busColor');
                this.updateStyles({ '--widget-bus-color': busColor });
                if (this.id == _.get(data, 'detail.recipient')) {
                    this.updateStyles({ '--widget-bus-color-active': busColor });
                    return;
                }
                this.updateStyles({ '--widget-bus-color-active': 'unset' });
            }
            // Message bus: ask for color
            _postAskForColor() {
                this.publishTopic({
                    channel: this.messageChannel || 'default',
                    topic: 'busColor',
                    data: {
                        detail: {
                            sender: {
                                id: this.id,
                                type: "indicator"
                            },
                            busColor: ""
                        }
                    }
                });
            }
            // Message bus: click event handling
            _postChartDataOnClick(e) {
                this._postChartData(e.type);
            }
            _postChartData(event) {
                if (this.widgetData == undefined) return;
                let table = this.widgetData.length === 0 ? [] : this._getDetailTable(this.widgetData[0].table, this.widgetData[0].wc_name, this.widgetData[0].scraprate);

                this.publishTopic({
                    channel: this.messageChannel || 'default',
                    topic: 'indicatorClick',
                    data: {
                        detail: {
                            sender: {
                                id: this.id,
                                type: "indicator",
                                event: event
                            },
                            chart: this.chart,
                            table: table
                        }
                    }
                });
            }

            /*
             * Resizing
             */
            _resizeIndicator() {
                this._debouncedIndicatorResize = Polymer.Debouncer.debounce(
                    this._debouncedIndicatorResize,
                    Polymer.Async.timeOut.after(50),
                    () => {
                        this.shadowRoot.querySelector(".numbers").classList.toggle("zoom-numbers", this.height < 5 && this.width < 5);
                        this.shadowRoot.querySelector("#progressBar").classList.toggle("zoom-bars", this.height < 5);
                        this.shadowRoot.querySelector(".widget-footer").classList.toggle("zoom-footer", this.height < 5);
                        this.shadowRoot.querySelector(".widgettitle").classList.toggle("zoom-title", this.height < 5 && this.width < 5);
                        this.shadowRoot.querySelector("#spinnerSmall").classList.toggle("zoom-spinner", this.height < 5 && this.width < 5);
                    }
                );
            }

            /*
             * Indicator stuff
             */
            _computeRatio(threshold, criticalWorkCenters) {
                let _threshold = Number.parseInt(threshold, 10);
                return (_threshold === 0 ? 0 : Math.round((criticalWorkCenters / _threshold) * 100));
            }

            _setupIndicator(allWc, thresholdWorkCenters, criticalWorkCenters) {
                if (allWc == undefined || thresholdWorkCenters == undefined || criticalWorkCenters == undefined) return;
                this.ratio = this._computeRatio(thresholdWorkCenters, criticalWorkCenters);
                this.set('overthreshold', this.ratio > 100)
                let delayedOfAll = allWc > 0 ? ((criticalWorkCenters / allWc) * 100) : 0;
                let thresholdOfAll = allWc > 0 ? ((thresholdWorkCenters / allWc) * 100) : 0;
                thresholdOfAll = thresholdOfAll > 100 ? 100 : thresholdOfAll;
                this.updateStyles({ '--my-progress-bar-width': `${delayedOfAll}%` });
                this.updateStyles({ '--my-threshold-bar-width': `${thresholdOfAll}%` });
            }

            _ratioChanged(ratio) {
                this.set('ratioUpdated', !this.ratioUpdated)
            }

            _postDetailData(clickedItem) {
                let workCenterID = clickedItem.id;

                let mappedWidgetData = this.widgetData.filter(entry => entry.wc_id == workCenterID);
                if (mappedWidgetData.length == 0) return;
                let table = this._getDetailTable(mappedWidgetData[0].table, mappedWidgetData[0].wc_name, mappedWidgetData[0].scraprate);

                this.publishTopic({
                    channel: this.messageChannel,
                    topic: "indicatorClick",
                    data: {
                        detail: {
                            sender: {
                                id: this.id,
                                type: "indicator"
                            },
                            chart: this.chart,
                            table: table
                        }
                    }
                });
            }

            _getDetailTable(mappedWidgetData, workcenter, scrapRate) {
                let title = this.localize('srate.details.title.with.workcenter') + workcenter;

                let sumYield = 0, sumScrap = 0;
                for (let i = 0; i < mappedWidgetData.length; i++) {
                    sumYield = sumYield + Number(mappedWidgetData[i].yield);
                    sumScrap = sumScrap + Number(mappedWidgetData[i].scrap);
                }

                let table = {
                    header: title,
                    columns: [
                        { header: `${this.localize('srate.details.header.completionConfirmation')}`, property: "num", type: "String", sortable: true, align: "right" },
                        { header: `${this.localize('srate.details.header.yield')}`, property: "yield", type: "Number", sortable: true, align: "right" },
                        { header: `${this.localize('srate.details.header.scrap')}`, property: "scrap", type: "Number", sortable: true, align: "right" }
                    ],
                    data: mappedWidgetData,
                    footerData: [{
                        yield: sumYield,
                        scrap: sumScrap
                    }],
                    footer: [{
                        label: `${this.localize('srate.details.footer.scraprate')}`,
                        value: scrapRate
                    }]
                }
                return table;
            }

            _settingsChanged(baseURL, company, department, fromDate, thresholdSrate, refresh) {
                if (!baseURL || !company || _.isUndefined(department.id)) {
                    this._showCheckSetup();
                    return;
                }
                this._activateSpinner();

                this._fetchWorkCenter(baseURL, company, department).then((workcenters) => {
                    let queries = [];
                    workcenters.forEach(wc => {
                        queries.push(this._fetchCompletionConfirmations(baseURL, company, wc))
                    });
                    return Promise.all(queries).then((values) => {
                        return _.flatten(values);
                    })
                }).then((completionConfirmations) => {
                    let widgetData = this._getWidgetData(completionConfirmations);
                    this.set('widgetData', widgetData);
                    return widgetData;
                }).then((widgetData) => {
                    let chartDataArray = widgetData.map(data => {
                        return {
                            id: _.get(data, 'wc_id'),
                            mgr: _.get(data, 'wc_name'),
                            such: _.get(data, 'wc_such'),
                            scraprate: _.get(data, 'scraprate')
                        }
                    });
                    this._setChart(chartDataArray);
                    this._deactivateSpinner();
                }).catch((error) => {
                    console.error(error)
                    this._showCheckSetup();
                });
            }

            _getWidgetData(completionConfirmations) {
                let ccArray = [];
                for (let i = 0; i < completionConfirmations.length; i++) {
                    let entry = completionConfirmations[i];

                    let newTableEntry = {
                        id: entry.head_id,
                        num: entry.head_nummer,
                        yield: entry.table_gutmge,
                        scrap: entry.table_verlustmge,
                        mgr_such: entry.head_mgr_such
                    };

                    let foundObject = ccArray.filter(function (e) { return e.wc_id === entry.head_mgr; });
                    if (foundObject.length === 0) {
                        let good = Number(entry.table_gutmge);
                        let bad = Number(entry.table_verlustmge);
                        ccArray.push(
                            {
                                wc_id: entry.head_mgr,
                                wc_name: entry.head_mgr_namebspr,
                                wc_such: entry.head_mgr_such,
                                yield: entry.table_gutmge,
                                scrap: entry.table_verlustmge,
                                scraprate: Math.round((bad / (bad + good)) * 100),
                                table: [newTableEntry]
                            }
                        )
                    } else {
                        let good = Number(foundObject[0].yield) + Number(entry.table_gutmge);
                        let bad = Number(foundObject[0].scrap) + Number(entry.table_verlustmge);
                        foundObject[0].yield = good;
                        foundObject[0].scrap = bad;
                        foundObject[0].scraprate = Math.round((bad / (bad + good)) * 100);
                        foundObject[0].table.push(newTableEntry);
                    }
                }
                ccArray.sort(function (a, b) { return b.scraprate - a.scraprate });
                return ccArray;
            }

            /*
             * Chart
             */
            _setChart(scrapRatesByDepartment) {
                // specify chart configuration item and data
                let chartData = scrapRatesByDepartment;
                this.allWc = chartData.length;
                let indexNo = 0;
                for (let key in chartData) {
                    if (Number(chartData[key].scraprate) <= Number(this.thresholdSrate)) {
                        break;
                    }
                    indexNo++;
                };
                this.criticalWorkCenters = indexNo;
                let maxVal = 0;
                for (let key in chartData) {
                    if (chartData[key].scraprate > maxVal) {
                        maxVal = chartData[key].scraprate;
                    }
                };
                let max4Chart = Math.ceil(maxVal / 10) * 10;
                if (Number(this.thresholdSrate) > Number(max4Chart)) {
                    max4Chart = this.thresholdSrate;
                }
                let title = this.department.id ? this.localize('srate.chart.title.with.department') + this.department.sucherw : this.localize('srate.chart.title.without.department');
                this._setupChartOptions(title, chartData, max4Chart, indexNo);
                this._postChartData("refresh");
            }

            _setupChartOptions(title, chartData, max4Chart, indexNo) {
                if (chartData.length === 0) {
                    this.set('chart', this._setupNoDataChart(title));
                } else {
                    this.set('chart', this._setupChartWithData(title, chartData, max4Chart, indexNo));
                }
            }

            _setupChartWithData(title, chartData, max4Chart, indexNo) {
                let abasOuterSpace = getComputedStyle(this).getPropertyValue('--abas-outer-space');
                let xAxisName = (this.showXaxisLabel) ? "" : this.localize('srate.chart.x.axis.name')
                let chartOptions = {
                    grid: {
                        show: true,
                        top: 30,
                        bottom: 30,
                        left: '5%',
                        right: '5%',
                        containLabel: true
                    },
                    title: {
                        head: title,
                        text: title,
                        show: false
                    },
                    tooltip: {
                        backgroundColor: abasOuterSpace,
                        formatter: (params) => {
                            return params.name + ': ' + params.value;
                        }
                    },
                    dataset: {
                        dimensions: ['mgr', 'scraprate'],
                        source: chartData
                    },
                    xAxis: {
                        type: 'category',
                        name: xAxisName,
                        nameLocation: 'middle',
                        nameTextStyle: {
                            fontSize: 12
                        },
                        axisLabel: {
                            show: this.showXaxisLabel,
                            rotate: 90,
                            formatter: (value, index) => {
                                return chartData[index].such
                            }
                        },
                        axisLine: { lineStyle: { color: abasOuterSpace } },
                        axisTick: { lineStyle: { color: abasOuterSpace } }
                    },
                    yAxis: {
                        type: 'value',
                        axisLabel: {
                            formatter: '{value} %'
                        },
                        max: max4Chart,
                        splitNumber: max4Chart,
                        minInterval: (max4Chart > 50) ? 20 : 10,
                        maxInterval: 20,
                        splitLine: { show: false },
                        axisLine: { lineStyle: { color: abasOuterSpace } },
                        axisTick: { lineStyle: { color: abasOuterSpace } },
                    },
                    visualMap: {
                        type: 'piecewise',
                        show: false,
                        dimension: 0,
                        pieces: [
                            { lt: indexNo, color: getComputedStyle(this).getPropertyValue('--abas-amaranth') },
                            { gte: indexNo, color: getComputedStyle(this).getPropertyValue('--abas-mountain-meadow') }
                        ]
                    },
                    series: [{
                        type: 'bar',
                        barMinHeight: '1',
                        barCategoryGap: '40%',
                        tooltip: {
                            formatter: function (params) {
                                return params.name + ': ' + params.value.scraprate ;
                            }
                        },
                        markLine: {
                            animation: false,
                            symbol: 'none',
                            lineStyle: {
                                type: 'solid',
                                width: 1,
                                color: getComputedStyle(this).getPropertyValue('--abas-black')
                            },
                            label: {
                                show: false
                            },
                            data: [
                                {
                                    name: this.localize('srate.settings.thresholdSrate.label'),
                                    yAxis: this.thresholdSrate,
                                    label: {
                                        show: true

                                    },
                                    value: "aoeuf<afe"
                                }
                            ]
                        }
                    }]
                };
                return chartOptions;
            }

            _setupNoDataChart(title) {
                let noDataOption = {
                    title: {
                        show: true,
                        textStyle: {
                            color: getComputedStyle(this).getPropertyValue('--abas-rolling-stone'),
                            fontSize: 14
                        },
                        text: this.localize('chart.nodata'),
                        head: title,
                        left: 'center',
                        top: 'center',
                    },
                    xAxis: {
                        show: false
                    },
                    yAxis: {
                        show: false
                    },
                    series: []
                };
                return noDataOption;
            }

            _fetchWorkCenter(baseURL, company, dprtmnt) {
                if (baseURL == undefined || company == undefined || dprtmnt == undefined) return [];

                let headers = new Headers();
                headers.set('accept', 'application/abas.objects.simple+json');

                let criteria = "abtlg=" + dprtmnt.id + ";@ablage=(Active)";

                let fetchURL = new URL(`${baseURL}${company.href}/obj/data/8:2`);
                let fetchSearchParams = fetchURL.searchParams;
                fetchSearchParams.set('limit', '0');
                fetchSearchParams.set('criteria', criteria);
                fetchSearchParams.set('headFields', ["id", "such", "namebspr", "abtlg", "abtlg^name"].join(","));

                return auth0Fetch(fetchURL.toString(), {
                    headers: headers
                }).then((resp) => {
                    if (resp.status === 200) {
                        return resp.json();
                    }
                    throw new Error(`This ain't work. Requesting middleware failed.`)
                }).then((mwResponse) => {
                    let workcenters = _.get(mwResponse, 'erpDataObjects');
                    if (!workcenters) {
                        console.log('middleware response is not as expected');
                        return []
                    }
                    let _workcenters = workcenters.map((workcenter) => {
                        // simplify access to the result
                        // the field object consists of value and text
                        return {
                            id: _.get(workcenter, 'head.id'),
                            namebspr: _.get(workcenter, 'head.namebspr'),
                            abtlg: _.get(workcenter, 'head.abtlg'),
                            abtlg_name: _.get(workcenter, 'head.abtlg^name'),
                            such: _.get(workcenter, 'head.such')
                        }
                    });

                    // return for promise
                    return _workcenters;
                });
            }

            _fetchCompletionConfirmations(baseURL, company, wc) {
                if (baseURL == undefined || company == undefined || wc == undefined) return [];

                this.detailErpURL = abasWidgets.API.generateLinkToErpByObjectId({ company: company, objectId: "(placeholder)" });

                let headers = new Headers();
                headers.set('accept', 'application/abas.objects.simple+json');

                let criteria = "0:mgr=" + wc.id + ";vom=" + this.fromDate + "!.;@gruppe=2;@ablageart=(Filed);ozeilen<>`;@zeilen=(Yes)";

                let fetchURL = new URL(`${baseURL}${company.href}/obj/data/9:2`);
                let fetchSearchParams = fetchURL.searchParams;
                fetchSearchParams.set('limit', '0');
                fetchSearchParams.set('criteria', criteria);
                fetchSearchParams.set('headFields', ["id", "such", "nummer", "mgr", "mgr^namebspr", "mgr^abtlg", "mgr^abtlg^namebspr", "mgr^such"].join(","));
                fetchSearchParams.set('tableFields', ["zn", "gutmge", "verlustmge"].join(","));

                return auth0Fetch(fetchURL.toString(), {
                    headers: headers
                }).then((resp) => {
                    if (resp.status === 200) {
                        return resp.json();
                    }
                    throw new Error(`This ain't work. Requesting middleware failed.`)
                }).then((mwResponse) => {
                    let completionConfirmations = _.get(mwResponse, 'erpDataObjects');
                    if (!completionConfirmations) {
                        console.log('middleware response is not as expected');
                        return []
                    }
                    let _completionConfirmations = completionConfirmations.map((cc) => {
                        // simplify access to the result
                        // the field object consists of value and text
                        return {
                            head_id: _.get(cc, 'head.id'),
                            head_such: _.get(cc, 'head.such'),
                            head_nummer: _.get(cc, 'head.nummer'),
                            head_mgr: _.get(cc, 'head.mgr'),
                            head_mgr_such: _.get(cc, 'head.mgr^such'),
                            head_mgr_namebspr: _.get(cc, 'head.mgr^namebspr'),
                            head_mgr_abtlg: _.get(cc, 'head.mgr^abtlg'),
                            head_mgr_abtlg_namebspr: _.get(cc, 'head.mgr^abtlg^namebspr'),
                            table_zn: _.get(cc, 'table[0].zn'),
                            table_gutmge: _.get(cc, 'table[0].gutmge'),
                            table_verlustmge: _.get(cc, 'table[0].verlustmge')
                        }
                    });

                    // return for promise
                    return _completionConfirmations;
                });
            }

            /*
             * Visual sugar: Spinner
             */

            _activateSpinner() {
                if (!this.widgetData) {
                    this.$.spinner.active = true;
                    this.$.spinnerDiv.hidden = false;
                    this.$.progressBar.hidden = true;
                    this.$.text.hidden = true;
                    this.$.checkSetupDiv.hidden = true;
                } else {
                    this.$.spinnerSmall.active = true;
                    this.$.spinnerDivSmall.hidden = false;
                }
            }

            _deactivateSpinner() {
                if (this.$.text.hidden) {
                    this.$.spinner.active = false;
                    this.$.spinnerDiv.hidden = true;
                    this.$.progressBar.hidden = false;
                    this.$.text.hidden = false;
                    this.$.checkSetupDiv.hidden = true;
                    this.$.spinnerSmall.active = false;
                    this.$.spinnerDivSmall.hidden = true;
                } else {
                    this.$.spinnerSmall.active = false;
                    this.$.spinnerDivSmall.hidden = true;
                }
            }

            _showCheckSetup(){
                this.$.spinner.active = false;
                this.$.spinnerDiv.hidden = true;
                this.$.progressBar.hidden = true;
                this.$.text.hidden = true;
                this.$.checkSetupDiv.hidden = false;
                this.set('widgetData', undefined)
            }

            /*
             * helper functions
             */

            _oneWorkCenter(criticalWorkCenters) {
                return parseInt(criticalWorkCenters) == 1;
            }

        }
        customElements.define(AbasProductionIndicatorSrateWidget.is, AbasProductionIndicatorSrateWidget);
    </script>
</dom-module>