<link rel="import" href="../../polymer/polymer-element.html">
<link rel="import" href="../../abas-styles/abas-styles.html">
<link rel="import" href="../../paper-input/paper-input.html">
<link rel="import" href="../../paper-dropdown-menu/paper-dropdown-menu.html">
<link rel="import" href="../lib/api/abas-production-widgets-api.html">
<link rel="import" href="../lib/abas-production-widgets-style/abas-production-widgets-style.html">
<link rel="import" href="../../abas-widget-framework/abas-widget-framework.html">
<link rel="import" href="../../abas-config/abas-config-meta.html">
<link rel="import" href="../../abas-widget-behavior/abas-widget-behavior.html">

<dom-module id="abas-production-indicator-cwo-widget-settings">
    <template>
        <abas-config-meta data="{{_configuration}}"></abas-config-meta>
        <style include="abas-production-widgets-style">
            :host {
                display: block;
                background: var(--abas-black-800);
            }
        </style>
        <div slot="general">

            <h3>[[localize('settings.title.general')]]</h3>
            <div class="widgetTitleInput">
                <ui-text-field label="[[localize('settings.title.text')]]" text="{{widgetTitle}}"></ui-text-field>
            </div>
            <ui-companyselector selected-company="{{selectedCompany}}"></ui-companyselector>
            <polling-input-with-elements polling="{{polling}}"></polling-input-with-elements>

            <h3>[[localize('settings.title.indicator')]]</h3>
            <div id="divThresholdInput" class="thresholdInputs">
                <ui-text-field input-type="Number" label="[[localize('settings.threshold.label')]]" text="{{threshold}}"></ui-text-field>
            </div>

            <div id="divDispatcherInput" class="flex-container">
                <ui-auto-complete class="flex-item" label="[[localize('settings.dispatcher.label')]]" items="[[listOfDispatchers]]"
                    selected-item="{{dispatcher}}"></ui-auto-complete>
                <abas-function-button id="resetDispatcher" hidden="[[!_showDeleteButtonDispatcher]]" icon="times" on-tap="_resetDispatcher"></abas-function-button>
            </div>

            <div id="divWarehouseGroupInput" class="flex-container">
                <ui-auto-complete class="flex-item" label="[[localize('settings.warehousegroup.label')]]" items="[[listOfWarehouseGroups]]"
                    selected-item="{{warehouseGroup}}"></ui-auto-complete>
                <abas-function-button id="resetWarehouseGroup" hidden="[[!_showDeleteButtonWarehouseGroup]]" icon="times" on-tap="_resetWarehouseGroup"></abas-function-button>
            </div>

            <div id="divProductInput" class="flex-container">
                <ui-auto-complete class="flex-item" label="[[localize('cwo.product.label')]]" items="[[listOfProducts]]"
                    selected-item="{{product}}"></ui-auto-complete>
                <abas-function-button id="resetProduct" hidden="[[!_showDeleteButtonProduct]]" icon="times" on-tap="_resetProduct"></abas-function-button>
            </div>

            <h3>[[localize('settings.title.period')]]</h3>

            <div id="divDateInputs" class="dateInputs">
                <ui-text-field class="flex-date" style="margin-right: 8px;" input-type="Number" label="[[localize('settings.startdateerp.label')]]" text="{{startDate}}"></ui-text-field>
                <ui-text-field class="flex-date" input-type="" label="[[localize('settings.enddateerp.label')]]" text="{{endDate}}"></ui-text-field>
            </div>

            <h3>[[localize('settings.title.messagebus')]]</h3>
            <div class="messageBusInput" >
                <ui-text-field label="[[localize('settings.title.messagebus')]]" text="{{messageChannel}}"></ui-text-field>
            </div>

        </div>

    </template>
    <script>
        class AbasProductionIndicatorCwoWidgetSettings extends abasWidgets.CompanySettingsBehavior(Polymer.AbasLocalizeMixin(ABAS.AttributesBehavior(Polymer.Element))) {
            
            constructor() {
                super();
                this._boundApplySettings = this._applySettings.bind(this);
                this._boundRevertSettings = this._revertSettings.bind(this);
            }
            static get is() { return 'abas-production-indicator-cwo-widget-settings' }
            static get properties() {
                return {
                    company: { type: Object, notify: true },
                    widgetTitle: { type: String, notify: true },
                    threshold: { type: String, notify: true },
                    endDate: { type: String, notify: true },
                    startDate: { type: String, notify: true },
                    dispatcher: { type: Object, notify: true },
                    listOfDispatchers: { type: Array, value: [] },
                    warehouseGroup: { type: Object, notify: true },
                    listOfWarehouseGroups: { type: Array },
                    product: { type: Object, notify: true },
                    listOfProducts: { type: Array, value: [] },
                    messageChannel: { type: String, notify: true },
                    _configuration: { type: Object },
                    polling: { type: Object, notify: true }
                }
            }

            static get observers() {
                return [
                    '_loadConfigurationData(_configuration, company)',
                    '_dispatcherChanged(dispatcher)',
                    '_warehouseGroupChanged(warehouseGroup)',
                    '_productChanged(product)',
                    '_setPropertiesToSave(messageChannel, product, threshold, widgetTitle, dispatcher, warehouseGroup, endDate, startDate, polling)'
                ]
            }

            connectedCallback() {
                super.connectedCallback();
                this.loadResources(this.resolveUrl(this.importPath + '../locales.json'));
                window.addEventListener('settings-apply', this._boundApplySettings);
                window.addEventListener('settings-closed', this._boundRevertSettings);
                this._setPropertiesToSave(this.messageChannel, this.product, this.threshold, this.widgetTitle, this.dispatcher, this.warehouseGroup, this.endDate, this.startDate, this.polling);
                this.set('_propertiesOriginal', _.cloneDeep(this._propertiesToSave));
            }

            disconnectedCallback(){
                super.disconnectedCallback();
                window.removeEventListener('settings-apply', this._boundApplySettings);
                window.removeEventListener('settings-closed', this._boundRevertSettings);
            }

            _setPropertiesToSave(messageChannel, product, threshold, widgetTitle, dispatcher, warehouseGroup, endDate, startDate, polling){
                this._propertiesToSave = { messageChannel, product, threshold, widgetTitle, dispatcher, warehouseGroup, endDate, startDate, polling }
            }

            _loadConfigurationData(config, company) {
                // Gate
                if (!config || !company) { return }
                if (typeof this.localize == 'function' && !this.widgetTitle) {
                    this.set('widgetTitle', this.localize("cwo.widget.title.text"));
                }
                this._fetchDispatchers(config.api.erpBaseURL, company);
                this._fetchWarehouseGroups(config.api.erpBaseURL, company);
                this._fetchProducts(config.api.erpBaseURL, company);
            }

            _fetchDispatchers(baseURL, company) {
                let headers = new Headers();
                headers.set('accept', 'application/abas.objects.simple+json');
                let criteria = "@ablage=(Active)";
                let fetchURL = new URL(`${baseURL}${company.href}/obj/data/11:1`);
                let fetchSearchParams = fetchURL.searchParams;
                fetchSearchParams.set('limit', '0');
                fetchSearchParams.set('criteria', criteria);
                fetchSearchParams.set('headFields', ["id", "such", "namebspr", "nummer", "sucherw"].join(","));
                return auth0Fetch(fetchURL.toString(), {
                    headers: headers
                }).then((resp) => {
                    if (resp.ok) {
                        return resp.json();
                    }
                    throw new Error(`This ain't work. Requesting middleware failed.`)
                }).then((mwResponse) => {
                    let erpDataObjects = _.get(mwResponse, 'erpDataObjects', []);
                    return erpDataObjects.map((erpDataObject) => {
                        // simplify access to the result
                        // the field object consists of value and text
                        return {
                            id: _.get(erpDataObject, 'head.id'),
                            nummer: _.get(erpDataObject, 'head.nummer'),
                            such: _.get(erpDataObject, 'head.such'),
                            sucherw: _.get(erpDataObject, 'head.sucherw'),
                            // for the element to display:
                            title: _.get(erpDataObject, 'head.nummer') + '  ' + _.get(erpDataObject, 'head.sucherw'),
                            description: _.get(erpDataObject, 'head.such')
                        }
                    });
                }).then(result => {
                    this.set('listOfDispatchers', result)
                })
            }

            _fetchWarehouseGroups(baseURL, company) {
                let headers = new Headers();
                headers.set('accept', 'application/abas.objects.simple+json');
                let criteria = "@ablage=(Active)";
                let fetchURL = new URL(`${baseURL}${company.href}/obj/data/39:2`);
                let fetchSearchParams = fetchURL.searchParams;
                fetchSearchParams.set('limit', '0');
                fetchSearchParams.set('criteria', criteria);
                fetchSearchParams.set('headFields', ["id", "such", "namebspr", "nummer", "sucherw"].join(","));
                return auth0Fetch(fetchURL.toString(), {
                    headers: headers
                }).then((resp) => {
                    if (resp.ok) {
                        return resp.json();
                    }
                    throw new Error(`This ain't work. Requesting middleware failed.`)
                }).then((mwResponse) => {
                    let erpDataObjects = _.get(mwResponse, 'erpDataObjects', []);
                    return erpDataObjects.map((erpDataObject) => {
                        // simplify access to the result
                        // the field object consists of value and text
                        return {
                            id: _.get(erpDataObject, 'head.id'),
                            nummer: _.get(erpDataObject, 'head.nummer'),
                            such: _.get(erpDataObject, 'head.such'),
                            sucherw: _.get(erpDataObject, 'head.sucherw'),
                            // for the element to display:
                            title: _.get(erpDataObject, 'head.nummer') + '  ' + _.get(erpDataObject, 'head.sucherw'),
                            description: _.get(erpDataObject, 'head.such')
                        }
                    });
                }).then(result => {
                    this.set('listOfWarehouseGroups', result);
                })
            }

            _fetchProducts(baseURL, company) {
                let headers = new Headers();
                headers.set('accept', 'application/abas.objects.simple+json');
                let criteria = "@ablage=(Active)";
                let fetchURL = new URL(`${baseURL}${company.href}/obj/data/2:1`);
                let fetchSearchParams = fetchURL.searchParams;
                fetchSearchParams.set('limit', '0');
                fetchSearchParams.set('criteria', criteria);
                fetchSearchParams.set('headFields', ["id", "such", "namebspr", "nummer", "sucherw"].join(","));
                return auth0Fetch(fetchURL.toString(), {
                    headers: headers
                }).then((resp) => {
                    if (resp.ok) {
                        return resp.json();
                    }
                    throw new Error(`This ain't work. Requesting middleware failed.`)
                }).then((mwResponse) => {
                    let erpDataObjects = _.get(mwResponse, 'erpDataObjects', []);
                    return erpDataObjects.map((erpDataObject) => {
                        // simplify access to the result
                        // the field object consists of value and text
                        return {
                            id: _.get(erpDataObject, 'head.id'),
                            nummer: _.get(erpDataObject, 'head.nummer'),
                            such: _.get(erpDataObject, 'head.such'),
                            sucherw: _.get(erpDataObject, 'head.sucherw'),
                            // for the element to display:
                            title: _.get(erpDataObject, 'head.nummer') + '  ' + _.get(erpDataObject, 'head.sucherw'),
                            description: _.get(erpDataObject, 'head.such')
                        }
                    });
                }).then(result => {
                    this.set('listOfProducts', result)
                })
            }

            _resetDispatcher() {
                let empty = { id: "", title: "", description: "" };
                this.set('dispatcher', empty);
            }

            _resetWarehouseGroup() {
                let empty = { id: "", title: "", description: "" };
                this.set('warehouseGroup', empty);
            }

            _resetProduct() {
                let empty = { id: "", title: "", description: "" };
                this.set('product', empty);
            }

            _dispatcherChanged(dispatcher) {
                this.set('_showDeleteButtonDispatcher', !_.isEmpty(dispatcher.id));
            }

            _warehouseGroupChanged(warehouseGroup) {
                this.set('_showDeleteButtonWarehouseGroup', !_.isEmpty(warehouseGroup.id));
            }

            _productChanged(product) {
                this.set('_showDeleteButtonProduct', !_.isEmpty(product.id));
            }

            _applySettings() {
                if (this.id == event.detail.widgetID) {
                    this.threshold = (this.threshold === '' ? "0" : this.threshold);
                    let attributes = [];
                    for (let property in this._propertiesToSave) {
                        attributes.push({
                            name: property,
                            value: this._propertiesToSave[property]
                        });
                    }
                    this.fireAttributesUpdate(attributes);
                    this._propertiesOriginal = _.cloneDeep(this._propertiesToSave);
                }
            }

            _revertSettings() {
                if (this.id == event.detail.widgetID) {
                    for (let property in this._propertiesOriginal) {
                        this.set(`${property}`, this._propertiesOriginal[property])
                    }
                    this.set('_propertiesToSave', _.cloneDeep(this._propertiesOriginal));
                }
            }

        }
        customElements.define(AbasProductionIndicatorCwoWidgetSettings.is, AbasProductionIndicatorCwoWidgetSettings);
    </script>
</dom-module>