<link rel="import" href="../../polymer/polymer-element.html">
<link rel="import" href="../../polymer/lib/elements/dom-if.html">
<link rel="import" href="../../aba-widget/aba-widget.html">
<link rel="import" href="../../abas-widget-behavior/abas-widget-behavior.html">
<link rel="import" href="../lib/abas-production-widgets-style/abas-production-widgets-style.html">
<link rel="import" href="../../abas-widget-framework/abas-widget-framework.html">
<link rel="import" href="../../abas-config/abas-config-meta.html">
<link rel="import" href="../../paper-dropdown-menu/paper-dropdown-menu.html">
<link rel="import" href="../../paper-listbox/paper-listbox.html">
<link rel="import" href="../../paper-item/paper-item.html">
<link rel="import" href="../../paper-autocomplete/paper-autocomplete.html">
<link rel="import" href="../../paper-card/paper-card.html">
<link rel="import" href="../../paper-icon-button/paper-icon-button.html">
<link rel="import" href="../../paper-spinner/paper-spinner-lite.html">
<link rel="import" href="../../aba-js-imports/lodash-import.html">
<link rel="import" href="../lib/api/abas-production-widgets-api.html">
<link rel="import" href="settings.html">

<dom-module id="abas-production-indicator-cwo-widget">
    <template>
        <abas-config-meta data="{{_configuration}}"></abas-config-meta>
        <style include="abas-production-widgets-style">
            :host {
                --my-progress-bar-width: 0%;
                --my-threshold-bar-width: 0%;
            }

            .zoom-title {
                zoom: 0.7;
            }
        </style>
        <aba-widget title="">
            <div slot="content">
                <!-- Widget content goes here! -->
                <div class="widgettitle">[[widgetTitle]]</div>
                <div class="circle"></div>
                <hr />
                <div class=indicatorContainer>
                    <div class=innerLayout>
                        <div id="spinnerDiv" class="spinner">
                            <paper-spinner-lite id="spinner" class="mountain-meadow" active></paper-spinner-lite>
                        </div>
                        <div id="checkSetupDiv" class="checkSetupDiv">
                            [[localize('settings.checkSetup')]]
                        </div>
                        <div id="progressBar" class="whole-progress-bar">
                            <template is="dom-if" if="{{!overthreshold}}">
                                <div id="partProgress" class="part-progress-bar-green"></div>
                                <div id="thresholdBar" class="threshold-bar"></div>
                            </template>
                            <template is="dom-if" if="{{overthreshold}}">
                                <div id="partProgress" class="part-progress-bar-red"></div>
                                <div id="thresholdBar" class="threshold-bar"></div>
                            </template>
                        </div>
                        <div id="text" class="text">
                            <div class="numbers">
                                <div id="indicator" class="indicator ">[[numberCwo]]</div>
                                <div class="separator "></div>
                                <div class="thresholdDiv">[[allCwo]]</div>
                            </div>
                            <div class="widget-footer">
                                <template is="dom-if" if="{{!dispatcher.id}}">
                                    <div>[[localize('widget.dispatchers.all')]]</div>
                                </template>
                                <template is="dom-if" if="{{dispatcher.id}}">
                                    <div>[[localize('widget.title.connection')]] [[dispatcher.sucherw]]</div>
                                </template>
                                <template is="dom-if" if="{{warehouseGroup.id}}">
                                    <div>[[warehouseGroup.sucherw]]</div>
                                </template>
                                <template is="dom-if" if="{{product.id}}">
                                    <div>[[product.sucherw]]</div>
                                </template>
                            </div>
                            <div id="spinnerDivSmall" class="spinnerSmall">
                                <paper-spinner-lite id="spinnerSmall" class="mountain-meadow" inactive>
                                </paper-spinner-lite>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <abas-production-indicator-cwo-widget-settings slot="settingsForm" id="[[id]]"
                widget-title="{{widgetTitle}}" company={{company}} threshold="{{threshold}}" dispatcher="{{dispatcher}}"
                warehouse-group="{{warehouseGroup}}" product="{{product}}" end-date="{{endDate}}"
                start-date="{{startDate}}" message-channel="{{messageChannel}}" polling="{{polling}}">
            </abas-production-indicator-cwo-widget-settings>
        </aba-widget>
    </template>

    <script>
        class AbasProductionIndicatorCwoWidget extends abasWidgets.PollingBehavior(abasWidgets.CompanyBehavior(ABAS.WidgetBehavior(Polymer.Element))) {
            constructor() {
                super();
                this._boundIndicatorResize = this._resizeIndicator.bind(this);
            }
            static get is() { return 'abas-production-indicator-cwo-widget' }
            static get properties() {
                return {
                    widgetTitle: { type: String },
                    dispatcher: { type: Object, value: { id: "", title: "", description: "" } },
                    warehouseGroup: { type: Object, value: { id: "", title: "", description: "" } },
                    product: { type: Object, value: { id: "", title: "", description: "" } },
                    startDate: { type: String, value: "-60" },
                    endDate: { type: String, value: "+5" },
                    threshold: { type: String, value: "20" },
                    numberCwo: { type: Number },
                    widgetData: { type: Array },
                    detailTable: { type: Object },
                    detailErpURL: { type: String },
                    messageChannel: { type: String, observer: "_changeMessageChannel", value: "default" },
                    allCwo: { type: Number },
                    overthreshold: { type: Boolean },
                    ratio: { type: String, notify: true },
                    _configuration: { type: Object }
                };
            }

            static get observers() {
                return [
                    '_settingsChanged(_configuration, company, dispatcher.id, warehouseGroup.id, product.id, startDate, endDate, refresh)',
                    '_setupIndicator(widgetData, threshold, allCwo)',
                    '_ratioChanged(ratio)',
                    '_fireTitleChanged(widgetTitle)'
                ];
            }

            //Add UI Listeners
            connectedCallback() {
                super.connectedCallback();
                //load translation
                this.loadResources(this.resolveUrl(this.importPath + '../locales.json'));
                // listener: resizing
                window.addEventListener('resize', this._boundIndicatorResize);
                // initial resize
                this._resizeIndicator();
                // listener: clickable indicator
                this.addEventListener('click', this._postDetailDataOnClick);
                // initial bus color
                this._postAskForColor();
                // change to new property format
                this._changePropertyFormat();
            }

            disconnectedCallback() {
                super.disconnectedCallback();
                // listener: clickable indicator
                this.removeEventListener('click', this._postDetailDataOnClick);
                // listener: resizing
                window.removeEventListener('resize', this._boundIndicatorResize);
                // message bus
                this.unsubscribeTopics();
            }

            /*
             * Message Bus
             */
            // subscribe to channel
            _changeMessageChannel(messageChannel) {
                // update messageChannel
                this.messageChannel = messageChannel ? messageChannel : 'default'
                // resubscribe
                this.unsubscribeTopics();
                this.subscribeTopics({
                    channel: messageChannel,
                    topics: ['busColor', 'detailClick'],
                    handler: (data, envelope) => { this._incomingMessage(data, envelope) }
                })
            }
            _incomingMessage(data, envelope) {
                // Don't handle own messages
                if (this.id == _.get(data, 'detail.sender.id')) {
                    return;
                }

                // Handle MessageBus color
                if (_.get(data, 'detail.sender.type') != "indicator" && _.get(data, 'detail.busColor') != undefined) {
                    this._changeColor(data);
                    return;
                }

                // Message is not for me!
                if (this.id != data.detail.recipient) {
                    return;
                }

                // case: incoming click event
                if (_.get(data, 'detail.clickEvent') != undefined) {
                    // detail table
                    if (_.get(data, 'detail.sender.type') == "table") {
                        let clickedItem = data.detail.clickEvent;
                        let _detailTableURL = this.detailErpURL.replace(/\(placeholder\)/g, clickedItem);
                        const target = AbasProductionWidgets.API.getURLTarget({ configuration: this._configuration, navigator: navigator })
                        window.open(_detailTableURL, target);
                        return;
                    }
                }
            }
            // Message bus: change color
            _changeColor(data) {
                this.updateStyles({ '--widget-bus-color': data.detail.busColor });
                if (this.id == data.detail.recipient) {
                    this.updateStyles({ '--widget-bus-color-active': data.detail.busColor });
                    return;
                }
                this.updateStyles({ '--widget-bus-color-active': 'unset' });
            }
            // Message bus: ask for color
            _postAskForColor() {
                this.publishTopic({
                    channel: this.messageChannel,
                    topic: 'busColor',
                    data: {
                        detail: {
                            sender: {
                                id: this.id,
                                type: "indicator"
                            },
                            busColor: ""
                        }
                    }
                });
            }
            // Message bus: click event handling
            _postDetailDataOnClick(e) {
                this._postDetailData(e.type);
            }
            _postDetailData(event) {
                this.publishTopic({
                    channel: this.messageChannel,
                    topic: 'indicatorClick',
                    data: {
                        detail: {
                            sender: {
                                id: this.id,
                                type: "indicator",
                                event: event
                            },
                            table: this.detailTable,
                            chart: {}
                        }
                    }
                });
            }

            /*
             * Resizing
             */
            _resizeIndicator() {
                this._debouncedIndicatorResize = Polymer.Debouncer.debounce(
                    this._debouncedIndicatorResize,
                    Polymer.Async.timeOut.after(50),
                    () => {
                        this.shadowRoot.querySelector(".numbers").classList.toggle("zoom-numbers", this.height < 5 && this.width < 5);
                        this.shadowRoot.querySelector("#progressBar").classList.toggle("zoom-bars", this.height < 5);
                        this.shadowRoot.querySelector(".widget-footer").classList.toggle("zoom-footer", this.height < 5 && this.width < 5);
                        this.shadowRoot.querySelector(".widgettitle").classList.toggle("zoom-title", this.height < 5 && this.width < 5);
                    }
                );
            }

            /*
             * Indicator stuff
             */
            _computeRatio(threshold, numberCwo) {
                let _threshold = Number.parseInt(threshold, 10);
                return (_threshold === 0 ? 0 : Math.round((numberCwo / _threshold) * 100));
            }

            _setupIndicator(widgetData, threshold, allCwo) {
                if (widgetData == undefined || threshold == undefined || allCwo == undefined) return;
                this.ratio = this._computeRatio(threshold, this.numberCwo);
                this.set('overthreshold', this.ratio > 100)
                let delayedOfAll = allCwo > 0 ? ((this.numberCwo / allCwo) * 100) : 0;
                let thresholdOfAll = allCwo > 0 ? ((threshold / allCwo) * 100) : 0;
                thresholdOfAll = thresholdOfAll > 100 ? 100 : thresholdOfAll;
                this.updateStyles({ '--my-progress-bar-width': `${delayedOfAll}%` });
                this.updateStyles({ '--my-threshold-bar-width': `${thresholdOfAll}%` });
            }

            _ratioChanged(ratio) {
                this.set('ratioUpdated', !this.ratioUpdated)
            }

            _changePropertyFormat() {
                if (_.has(this.dispatcher, "value")) {
                    let newDispatcher = {};
                    newDispatcher.id = this.dispatcher.value;
                    newDispatcher.sucherw = this.dispatcher.text;
                    newDispatcher.title = this.dispatcher.text;
                    this.set('dispatcher', newDispatcher)
                    this.fireAttributesUpdate([
                        {
                            name: 'dispatcher',
                            value: newDispatcher
                        }]);
                }
                if (_.has(this.product, "value")) {
                    let newProduct = {};
                    newProduct.id = this.product.value;
                    newProduct.sucherw = this.product.text;
                    newProduct.title = this.product.text;
                    this.set('product', newProduct)
                    this.fireAttributesUpdate([
                        {
                            name: 'product',
                            value: newProduct
                        }]);
                }
                if (_.has(this.warehouseGroup, "value")) {
                    let newWarehouseGroup = {};
                    newWarehouseGroup.id = this.warehouseGroup.value;
                    newWarehouseGroup.sucherw = this.warehouseGroup.text;
                    newWarehouseGroup.title = this.warehouseGroup.text;
                    this.set('warehouseGroup', newWarehouseGroup)
                    this.fireAttributesUpdate([
                        {
                            name: 'warehouseGroup',
                            value: newWarehouseGroup
                        }]);
                }
            }

            _settingsChanged(_configuration, company, dispatcherID, warehouseGroupID, productID, startDate, endDate, refresh) {
                if (!_configuration || !company || (dispatcherID === undefined) || (warehouseGroupID === undefined) || (productID === undefined)) {
                    this._showCheckSetup();
                    return;
                }
                this._activateSpinner();
                let dateFormatFnc = function (isoString) {
                    return new Date(isoString).toLocaleString(navigator.language, {
                        year: 'numeric',
                        month: '2-digit',
                        day: '2-digit'
                    });
                }
                this._fetchPossiblyCriticalWorkOrders(_configuration.api.erpBaseURL, company, dispatcherID, warehouseGroupID, productID, startDate, endDate).then((workOrders) => {
                    return this._getWidgetData(workOrders);
                }).then((widgetData) => {
                    this._deactivateSpinner();
                    let detailArray = widgetData.map(data => {
                        return {
                            id: _.get(data, 'workorder_id'),
                            workorder: _.get(data, 'workorder'),
                            outstandingQuantity: _.get(data, 'outstandingQuantity'),
                            finishTime: dateFormatFnc(_.get(data, 'takenFinishTime')),
                            deadline: dateFormatFnc(_.get(data, 'deadline')),
                            delay: _.get(data, 'delayInDays')
                        }
                    });
                    this._setDetailTable(detailArray);
                }).catch((error) => {
                    console.error(error)
                    this._showCheckSetup();
                });
            }

            _getWidgetData(workOrders) {
                let widgetData = [];
                for (let i = 0; i < workOrders.length; i++) {
                    let entry = workOrders[i];
                    let to = entry.deadline;
                    let from = (entry.earliestFinishTime === undefined) ? entry.finishTime : entry.earliestFinishTime;
                    // deadline not defined
                    if (to === undefined) { continue; }
                    // we finish in time
                    if (from <= to) { continue; }
                    // finally: the critical ones
                    const _MS_PER_DAY = 1000 * 60 * 60 * 24;
                    let delayInDays = (new Date(from) - new Date(to)) / _MS_PER_DAY;
                    widgetData.push({
                        workorder_id: entry.workorder_id,
                        workorder: entry.workorder,
                        outstandingQuantity: entry.outstandingQty,
                        finishTime: entry.finishTime,
                        earliestFinishTime: entry.earliestFinishTime,
                        takenFinishTime: from,
                        deadline: entry.deadline,
                        delayInDays: delayInDays
                    });
                    widgetData.sort(function (a, b) {
                        let a1 = a.delayInDays;
                        let a2 = a.outstandingQuantity;

                        let b1 = b.delayInDays;
                        let b2 = b.outstandingQuantity;

                        // first sort by delayInDays (DESC)
                        if (a1 < b1) { return 1; }
                        if (a1 > b1) { return -1; }
                        // then by outstandingQuantity (DESC)
                        if (a2 < b2) { return 1; }

                        if (a2 > b2) { return -1; }
                        // equal
                        return 0;
                    });
                }
                this.set('widgetData', widgetData);
                this.set('numberCwo', widgetData.length);
                this.set('allCwo', workOrders.length);
                return widgetData;
            }

            /*
             * Detail table
             */
            _setDetailTable(mappedWidgetData) {
                let title = this.dispatcher.id ? this.localize('cwo.details.title.with.dispatcher') + this.dispatcher.sucherw : this.localize('cwo.details.title.without.dispatcher');

                let sumDelay = 0, sumOutstandingQty = 0;
                for (let i = 0; i < mappedWidgetData.length; i++) {
                    sumDelay = sumDelay + Number(mappedWidgetData[i].delay);
                    sumOutstandingQty = sumOutstandingQty + Number(mappedWidgetData[i].outstandingQuantity);
                }

                let table = {
                    header: title,
                    columns: [
                        { header: `${this.localize('cwo.details.header.number')}`, property: "workorder", type: "String", sortable: true },
                        { header: `${this.localize('cwo.details.header.outstandingQuantity')}`, property: "outstandingQuantity", type: "Number", sortable: true, align: "right" },
                        { header: `${this.localize('cwo.details.header.finishTime')}`, property: "finishTime", type: "Date", sortable: true },
                        { header: `${this.localize('cwo.details.header.deadline')}`, property: "deadline", type: "Date", sortable: true },
                        { header: `${this.localize('cwo.details.header.delayInDays')}`, property: "delay", type: "Number", sortable: true, align: "right" }
                    ],
                    data: mappedWidgetData,
                    footerData: [{
                        outstandingQuantity: sumOutstandingQty,
                        delay: sumDelay
                    }]
                }
                this.set('detailTable', table);
                this._postDetailData("refresh");
            }

            _fetchPossiblyCriticalWorkOrders(baseURL, company, dispatcherID, warehouseGroupID, productID, startDate, endDate) {
                let startDatePrefix = !(startDate.startsWith('+') || startDate.startsWith('-')) ? "+" : "";
                let start = startDatePrefix + startDate;
                let endDatePrefix = !(endDate.startsWith('+') || endDate.startsWith('-')) ? "+" : "";
                let end = endDatePrefix + endDate;

                const infosystem4Query = "(Infosystem)%20PRODLIST";
                this.detailErpURL = abasWidgets.API.generateLinkToErpByCommand({ company: company, erpCommand: `${infosystem4Query}?kba=(placeholder)|bstart=1` });

                /*
                 * middleware request
                 */
                let headers = new Headers();
                headers.set('accept', 'application/abas.objects.simple+json');

                let criteria = "ba<>`;netlimge>0"
                    + ";betreuer=" + dispatcherID
                    + ";lgruppe=" + warehouseGroupID
                    + ";artikel=" + productID
                    + ";twterm=" + start + "!" + end
                    + ";@gruppe=5;@ablage=(Active);@ordnung=twterm";

                let fetchURL = new URL(`${baseURL}${company.href}/obj/data/4:5`);
                let fetchSearchParams = fetchURL.searchParams;
                fetchSearchParams.set('limit', '0');
                fetchSearchParams.set('criteria', criteria);
                fetchSearchParams.set('headFields', ["id", "ba", "ba^nummer", "lgruppe", "artikel", "netlimge", "wtterm", "wtfterm", "twterm"].join(","));

                return auth0Fetch(fetchURL.toString(), {
                    headers: headers
                }).then((resp) => {
                    if (resp.ok) {
                        return resp.json();
                    }
                    throw new Error(`This ain't work. Requesting middleware failed.`)
                }).then((mwResponse) => {
                    let cwo = _.get(mwResponse, 'erpDataObjects', []);
                    return cwo.map((cwo) => {
                        // simplify access to the result
                        // the field object consists of value and text
                        return {
                            id: _.get(cwo, 'head.id'),
                            workorder_id: _.get(cwo, 'head.ba'),
                            workorder: _.get(cwo, 'head.ba^nummer'),
                            outstandingQty: _.get(cwo, 'head.netlimge'),
                            finishTime: _.get(cwo, 'head.wtterm'),
                            earliestFinishTime: _.get(cwo, 'head.wtfterm'),
                            deadline: _.get(cwo, 'head.twterm')
                        }
                    });
                });
            }

            _fireTitleChanged() {
                this.fireAttributesUpdate([{
                    name: 'widgetTitle',
                    value: this.widgetTitle
                }]);
            }

            /*
             * Visual sugar: Spinner
             */

            _activateSpinner() {
                if (!this.numberCwo) {
                    this.$.spinner.active = true;
                    this.$.spinnerDiv.hidden = false;
                    this.$.progressBar.hidden = true;
                    this.$.text.hidden = true;
                    this.$.checkSetupDiv.hidden = true;
                } else {
                    this.$.spinnerSmall.active = true;
                    this.$.spinnerDivSmall.hidden = false;
                }
            }

            _deactivateSpinner() {
                if (this.$.text.hidden) {
                    this.$.spinner.active = false;
                    this.$.spinnerDiv.hidden = true;
                    this.$.progressBar.hidden = false;
                    this.$.text.hidden = false;
                    this.$.checkSetupDiv.hidden = true;
                    this.$.spinnerSmall.active = false;
                    this.$.spinnerDivSmall.hidden = true;
                } else {
                    this.$.spinnerSmall.active = false;
                    this.$.spinnerDivSmall.hidden = true;
                }
            }

            _showCheckSetup() {
                this.$.spinner.active = false;
                this.$.spinnerDiv.hidden = true;
                this.$.progressBar.hidden = true;
                this.$.text.hidden = true;
                this.$.checkSetupDiv.hidden = false;
                this.set('numberCwo', undefined)
            }

        }
        customElements.define(AbasProductionIndicatorCwoWidget.is, AbasProductionIndicatorCwoWidget);
    </script>
</dom-module>