<link rel="import" href="../../../polymer/polymer.html">
<link rel="import" href="../../../abas-widget-style/abas-widget-style.html">

<dom-module id="abas-production-widgets-style">
  <template>
    <style include="abas-widget-style">
      :host {
        display: block;
        height: 100%;
        --chart-future-color: #d1eee9;
      }

      [slot=content] {
        overflow: hidden;
      }

      .whole-progress-bar {
        background-color: #E5E5E5;
        height: 8px;
        margin: 10px;
        position: relative;
      }

      .part-progress-bar-green {
        background-color: var(--abas-mountain-meadow);
        width: var(--my-progress-bar-width);
        height: 100%;
        position: absolute;
      }

      .part-progress-bar-red {
        background-color: var(--abas-amaranth);
        height: 100%;
        width: var(--my-progress-bar-width);
        position: absolute;
      }

      .threshold-bar {
        background-color: transparent;
        width: var(--my-threshold-bar-width);
        height: 100%;
        border-right: 2px solid var(--abas-black);
        position: absolute;
      }

      .numbers {
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: center;
        align-items: center;
      }

      .numbers .thresholdDiv,
      .numbers .separator {
        font-size: 90%;
        color: var(--abas-rolling-stone);
      }

      .numbers .separator::before {
        content: '/';
        margin-left: 3px;
      }

      .indicator {
        font-size: 150%;
        color: var(--abas-black);
        font-weight: bold;
      }

      .indicatorContainer {
        height: calc(80% - 11px);
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .indicatorContainer .innerLayout {
        width: 100%;
      }

      .spinner {
        text-align: center;
      }

      .spinnerSmall {
        position: absolute;
        bottom: 0;
        right: 0;
        width: 36px;
        height: 36px;
        text-align: center;
      }

      paper-spinner-lite.mountain-meadow {
        --paper-spinner-color: var(--abas-mountain-meadow);
      }

      #footerLineTable .item {
        display: flex;
        justify-content: flex-end;
        font-weight: 700;
        font-size: 14px;
        margin-right: 12px;
      }

      #footerLineTable .item .label {
        margin-right: 20px;
      }

      .zoom-numbers,
      .zoom-footer,
      .zoom-table,
      .zoom-spinner {
        zoom: 0.85;
      }

      .zoom-title {
        zoom: 0.73;
      }

      .zoom-bars {
        height: 6px;
        margin-top: 6px;
        margin-bottom: 0px;
      }

      .flex-container {
        display: flex;
        flex-direction: row;
        align-items: flex-end;
      }

      .flex-item {
        flex-grow: 1;
        flex-shrink: 1;
        max-width: 600px;
        flex-basis: auto;      
      }

      .thresholdInputs {
        width: 100px;
      }

      .dateInputs {
        max-width: 600px;
        display: flex;
      }

      .flex-date {
        flex-grow: 1;
        flex-shrink: 1;
        max-width: 290px;
        flex-basis: auto; 
      }

      .widgetTitleInput{
        max-width: 300px;
      } 

      .messageBusInput {
        width: 300px;
      }

      .checkSetupDiv {
        font-size: 14px;
      }
    </style>
  </template>
</dom-module>