<link rel="import" href="../../polymer/polymer-element.html">
<link rel="import" href="../../polymer/lib/elements/dom-if.html">
<link rel="import" href="../../aba-widget/aba-widget.html">
<link rel="import" href="../../abas-widget-behavior/abas-widget-behavior.html">
<link rel="import" href="../lib/abas-production-widgets-style/abas-production-widgets-style.html">
<link rel="import" href="../../abas-widget-framework/abas-widget-framework.html">
<link rel="import" href="../../abas-config/abas-config-meta.html">
<link rel="import" href="../../paper-dropdown-menu/paper-dropdown-menu.html">
<link rel="import" href="../../paper-listbox/paper-listbox.html">
<link rel="import" href="../../paper-item/paper-item.html">
<link rel="import" href="../../paper-autocomplete/paper-autocomplete.html">
<link rel="import" href="../../paper-card/paper-card.html">
<link rel="import" href="../../paper-icon-button/paper-icon-button.html">
<link rel="import" href="../../paper-spinner/paper-spinner.html">
<link rel="import" href="../lib/indicator-wos/indicator-wos.html">
<link rel="import" href="../../aba-js-imports/lodash-import.html">
<link rel="import" href="../../aba-js-imports/moment-import.html">
<link rel="import" href="../lib/api/abas-production-widgets-api.html">
<link rel="import" href="settings.html">

<dom-module id="abas-production-indicator-wos-widget">
    <template>
        <abas-config-meta data="{{_configuration}}"></abas-config-meta>
        <style include="abas-production-widgets-style">
            .indicator-wos {
                height: calc(80%-11px)
            }

        </style>
        <aba-widget title="">
            <div slot="content" id="contentDiv">
                <div class="widgettitle">[[widgetTitle]]</div>
                <div class="circle"></div>
                <hr />
                <div class=indicatorContainer>
                    <div class=innerLayout>
                        <div id="indicatorWos" class="indicator-wos">
                            <indicator-wos company="[[company]]" dispatcher="[[dispatcher]]" configuration="[[configuration]]"
                                start-date="[[startDate]]" end-date="[[endDate]]" start-date-erp="[[startDateErp]]"
                                end-date-erp="[[endDateErp]]" refresh="{{refresh}}" chart="{{chart}}">
                            </indicator-wos>
                        </div>
                    </div>
                </div>
            </div>
            <template is="dom-if" if="[[editMode]]"></template>
                <div slot="settingsForm">
                    <abas-production-indicator-wos-widget-settings
                        id="[[id]]"
                        company="{{company}}"
                        dispatcher="{{dispatcher}}"
                        end-date-erp="{{endDateErp}}" 
                        start-date-erp="{{startDateErp}}"
                        end-date="{{endDate}}" 
                        start-date="{{startDate}}"
                        message-channel="{{messageChannel}}"
                        polling="{{polling}}"
                        widget-title={{widgetTitle}}>
                    </abas-production-indicator-wos-widget-settings>
                </div>
            </template>
            <div slot="optionsMenu">
                <!-- Additonal settings menu items -->
            </div>
    </template>
    <div slot="optionsMenu">
        <!-- Additonal settings menu items -->
    </div>
    </aba-widget>
    </template>

    <script>
        class AbasProductionIndicatorWOSWidget extends abasWidgets.PollingBehavior(abasWidgets.CompanyBehavior(ABAS.WidgetBehavior(Polymer.Element))) {
            constructor() {
                super();
                this._boundIndicatorResize = this._resizeIndicator.bind(this);
            }
            static get is() { return 'abas-production-indicator-wos-widget' }
            static get properties() {
                return {
                    wos: { type: Array },
                    widgetTitle: { type: String },
                    dispatcher: { type: Object, notify: true, value: { sucherw: "", id: "", threshold: "20" } },
                    endDate: { type: String, notify: true, value: "+5" },
                    startDate: { type: String, notify: true, value: "-5" },
                    endDateErp: { type: String, notify: true, value: "+10" },
                    startDateErp: { type: String, notify: true, value: "-10" },
                    chart: { type: Object },
                    chartErpURL: { type: String },
                    chartErpURLPast: { type: String },
                    chartErpURLFuture: { type: String },
                    messageChannel: { type: String, value: 'default', observer: "_changeMessageChannel" },
                    language: { type: String, value: 'en_US' },
                    _configuration: { type: String }
                };
            }

            static get observers() {
                return [
                    '_chartDataChanged(chart)',
                    '_initURLs(company, dispatcher.id, startDateErp, endDateErp, startDate, endDate)'
                ]
            }

            //Add UI Listeners
            connectedCallback() {
                super.connectedCallback();
                //load translation
                this.loadResources(this.resolveUrl(this.importPath + '../locales.json'));
                // listener: resizing
                window.addEventListener('resize', this._boundIndicatorResize);
                // initial resize
                this._resizeIndicator();
                // listener: clickable indicator
                this.addEventListener('click', this._postChartDataOnClick);
                // initial bus color
                this._postAskForColor();
                // change to new property format
                this._changePropertyFormat();
                
            }

            disconnectedCallback() {
                super.disconnectedCallback();
                // listener: clickable indicator
                this.removeEventListener('click', this._postChartDataOnClick);
                // listener: resizing
                window.removeEventListener('resize', this._boundIndicatorResize);
                // message bus
                this.unsubscribeTopics();
            }

            _changePropertyFormat(){
                if (_.has(this.dispatcher, "value")) {
                    let newDispatcher = {};
                    newDispatcher.id = this.dispatcher.value;
                    newDispatcher.sucherw = this.dispatcher.text;
                    newDispatcher.title = this.dispatcher.text;
                    newDispatcher.threshold = this.dispatcher.threshold;
                    this.set('dispatcher', newDispatcher)
                    this.fireAttributesUpdate([
                        {
                            name: 'dispatcher',
                            value: newDispatcher
                        }]);
                }
            }

            /*
             * Message Bus
             */
            // subscribe to channel
            _changeMessageChannel(messageChannel) {
                // update messageChannel
                this.messageChannel = messageChannel ? messageChannel : 'default'
                // resubscribe
                this.unsubscribeTopics();
                this.subscribeTopics({
                    channel: messageChannel,
                    topics: ['busColor', 'chartClick'],
                    handler: (data, envelope) => { this._incomingMessage(data, envelope) }
                })
            }
            _incomingMessage(data, envelope) {
                // Don't handle own messages
                if (this.id == _.get(data, 'detail.sender.id')) {
                    return;
                }

                if (_.get(data, 'detail.sender.type') != "indicator" && _.get(data, 'detail.busColor') != undefined) {
                    this._changeColor(data);
                    return;
                }

                if (this.id != data.detail.recipient) {
                    return;
                }

                // case: incoming click event
                if (_.get(data, 'detail.clickEvent') != undefined) {
                    let clickedItem = data.detail.clickEvent;
                    let _chartURL;
                    if (clickedItem.tsterm == "Past") {
                        _chartURL = this.chartErpURLPast;
                    } else if (clickedItem.tsterm == "Future") {
                        _chartURL = this.chartErpURLFuture;
                    } else {
                        let _clickedDate = clickedItem.tsterm.replace(/-/g, "");
                        _chartURL = this.chartErpURL.replace(/\(placeholder\)/g, _clickedDate);
                    }
                    const target = AbasProductionWidgets.API.getURLTarget({ configuration: this._configuration, navigator: navigator })
                    window.open(_chartURL, target);
                }
            }
            // Message bus: change color
            _changeColor(data) {
                this.updateStyles({ '--widget-bus-color': data.detail.busColor });
                if (this.id == data.detail.recipient) {
                    this.updateStyles({ '--widget-bus-color-active': data.detail.busColor });
                    return;
                }
                this.updateStyles({ '--widget-bus-color-active': 'unset' });
            }
            // Message bus: ask for color
            _postAskForColor() {
                this.publishTopic({
                    channel: this.messageChannel,
                    topic: 'busColor',
                    data: {
                        detail: {
                            sender: {
                                id: this.id,
                                type: "indicator"
                            },
                            busColor: ""
                        }
                    }
                });
            }
            // Message bus: click event handling
            _chartDataChanged(chartData) {
                this._postChartData("refresh");
            }

            _initURLs(company, dispatcherID, startDateErp, endDateErp, startDate, endDate) {
                if (!company || !startDateErp || !endDateErp || !startDate || !endDate || _.isUndefined(dispatcherID)) return;

                let newEndDate = parseInt(this.endDate) + 1;

                let endDateFormatted = moment().add(Math.abs(newEndDate), "days").format('YYYYMMDD');
                let startDateFormatted = moment().subtract(Math.abs(this.startDate), "days").format('YYYYMMDD');
                let endDateErpFormatted = moment().add(Math.abs(this.endDateErp), "days").format('YYYYMMDD');
                let startDateErpFormatted = moment().subtract(Math.abs(this.startDateErp), "days").format('YYYYMMDD');

                const database4Query = "<(Purchasing)><(Edit)>,(WorkOrderSuggestions)";
                this.chartErpURL       = abasWidgets.API.generateLinkToErpByCommand({company: company, erpCommand: `${database4Query}?vom=(placeholder)|bis=(placeholder)|betreuer=${dispatcherID}|ladetab=`});
                this.chartErpURLPast   = abasWidgets.API.generateLinkToErpByCommand({company: company, erpCommand: `${database4Query}?vom=${startDateErpFormatted}|bis=${startDateFormatted}|betreuer=${dispatcherID}|ladetab=`});
                this.chartErpURLFuture = abasWidgets.API.generateLinkToErpByCommand({company: company, erpCommand: `${database4Query}?vom=${endDateFormatted}|bis=${endDateErpFormatted}|betreuer=${dispatcherID}|ladetab=`});
            }

            _resizeIndicator() {
                this._debouncedIndicatorResize = Polymer.Debouncer.debounce(
                    this._debouncedIndicatorResize,
                    Polymer.Async.timeOut.after(50),
                    () => {
                        this.shadowRoot.querySelector('indicator-wos').shadowRoot.querySelector(".numbers").classList.toggle("zoom-numbers", this.height < 5 && this.width < 5);
                        this.shadowRoot.querySelector('indicator-wos').shadowRoot.querySelector("#progressBar").classList.toggle("zoom-bars", this.height < 5);
                        this.shadowRoot.querySelector('indicator-wos').shadowRoot.querySelector(".widget-footer").classList.toggle("zoom-footer", this.height < 5 && this.width < 5);
                        this.shadowRoot.querySelector(".widgettitle").classList.toggle("zoom-title", this.height < 5 && this.width < 5);
                    }
                );
            }

            _postChartDataOnClick(e) {
                this._postChartData(e.type);
            }

            _postChartData(event) {
                this.publishTopic({
                    channel: this.messageChannel,
                    topic: 'indicatorClick',
                    data: {
                        detail: {
                            sender: {
                                id: this.id,
                                type: "indicator",
                                event: event
                            },
                            chart: this.chart,
                            table: {}
                        }
                    }
                });
            }

            _fireTitleChanged() {
                this.fireAttributesUpdate([{
                    name: 'widgetTitle',
                    value: this.widgetTitle
                }]);
            }
        }
        customElements.define(AbasProductionIndicatorWOSWidget.is, AbasProductionIndicatorWOSWidget);
    </script>
</dom-module>